[2018-11-07 07:44] moas opened #552 "Init form_class"
Hi
How To set  init data for form_class in djangoformmutation ? I try to use django auth forms PasswordChangeForm and this form need 'user' instance in __init__. So djangoformmutation crash in __init_subclass_with_meta__ execution

[2018-11-07 19:12] kendallroth commented on #505
Any progress on this? I definitely see a use case for it and would be excited to see it happen

[2018-11-07 22:29] thebenwaters commented on #101
Anyone have an idea how to do this asyncy?? With aiohttp-graphql?

[2018-11-08 02:27] lcx94 opened #553 "from django.db.models.sql.constants import QUERY_TERMS ImportError: cannot import name 'QUERY_TERMS'"
problem is my django-filter version is 2.0.0, django version is 2.1.3

![image](https://user-images.githubusercontent.com/22119475/48173956-dffb4a80-e340-11e8-8f98-c186792bb87d.png)
just like this

[2018-11-12 10:16] sliverc commented on #380
@patrick91 Thanks for your feedback and working on this. Providing all three options might be a way forward.

Personally I think though this is rather a matter of what the specification states and not what we prefer to do in graphene. Maybe this needs to be raised again within context of graphql specification as it seems the specification is not clear at this point.

[2018-11-14 05:41] hypnotic-frog commented on #550
The error you are posting is somehow referred to the "SerialFilterSet" class. Is there any other part of your schema you didn't pasted?
Related with the "Serial" model perhaps?

I think it has something to do with this issue of django-filter and the adoption of version 2 of the library.
https://github.com/carltongibson/django-filter/issues/504

At the mean time, did you tried to use a Custom Filte

[2018-11-14 06:11] hypnotic-frog commented on #544
Hi! Currently I don't think there is.
Can't you just set the "filter_overrides" meta to your custom FilterSet and pass it?

[2018-11-15 12:25] StefanoSega opened #554 "GraphQL Compression for query and response"
I would like to ask if gzip/zlib compression is already enabled for Graphene-Django endpoints and if it needs for the client to send the header `Accept-Encoding: gzip` to enable it.

Also is there a method or a library to compress GraphQL queries in Python?

Thanks a lot

[2018-11-17 23:55] blackflame007 commented on #101
How would this example work with Django's models?

[2018-11-18 22:33] dani0805 commented on #327
#429

[2018-11-19 01:58] kamilkijak commented on #487
It's related to #385, there is no support for `read_only_fields` and `write_only_fields` yet.

[2018-11-19 02:18] kamilkijak commented on #385
Hey @patrick91, any updates on this one? I'm working on a mutation for registering a user and this would be helpful making `password` field write-only.

[2018-11-19 04:19] kamilkijak commented on #385
I've opened #555 with support for `write_only` fields from Django REST Framework.

[2018-11-19 09:35] maarcingebala commented on #429
Have you had any particular problems with the overridden ConnectionField (as in the example above)? I've also used a similar approach, but I've changed `resolve_connection` method instead to not use `merge_querysets`:

[code]

I'm using it successfully with [graphene-django-optimizer](https://github.com/tfoxy/graphene-django-optimizer).

[2018-11-20 15:05] dspacejs commented on #61
@syrusakbary is it possible to disable CSRF for a specific resolver/mutation instead of disabling it for everything? I have a resolver that will be used by an external service (not my app), so it's not possible for it to use a CSRF token.

[2018-11-20 15:07] dspacejs commented on #61
Also, another question: is CSRF necessary with a GraphQL API?

[2018-11-20 22:22] dopeboy commented on #303
Adding some more color to this in case there are others who arrive from google:

Suppose you have a django model like so:

[code]

Here's what the `Query` object and connecting type would look like:

[code]

And here's what a sample GraphQL query and response end up looking like:

[code]

[code]

[2018-11-22 00:45] kamilkijak opened #556 "Fields' names are snake_case in SerializerMutation errors"
When serializer is not valid, `SerializerMutation` returns errors where fields' names are `snake_case` (default DRF behaviour). I believe that it's easier for the client to use `pascalCase` which is used for the input of mutation.

Simplified example:
* **serializers.py**
[code]
* **schema.py**
[code]
* **GraphQL mutation**
[code]
* **Response with birth_date in errors (instead of birthDate)**
[co

[2018-11-23 23:29] jmn opened #557 "How to make a required argument?"
Apologies for writing a question in the bugtracker but I simply can not figure out how to create a required custom argument for a query. Can anyone show me how it's done?

[2018-11-26 17:50] rcelha commented on #206
@spockNinja Did you have any feedback on whether your propose is valid? It would be awesome to have that baked in graphene-django (I really don't want to use relay).

I'd gladly help with the implementation

[2018-11-26 18:06] eamigo86 commented on #206
Hi @rcelha , I am currently working to get a new version updated and with many improvements, should be available for next week.
I still do not understand why graphene-django only focuses on the implementation of graphql with Relay since Django can be used with any frontend framework

[2018-11-27 13:57] rcelha commented on #206
@eamigo86 Me either. I thought that `graphene-django` was the right place for this kind of feature. Of course I understand that there are many concerns regarding adding new APIs. I might be wrong, but I haven't seen not even a discussion about it

[2018-11-27 16:50] defiler commented on #550
Also faced this problem.
Make sure you have **filter_fields** (empty tuple works too) in every Node that defined as **DjangoFilterConnectionField** in your Query.
Most likely, you are missing it in SerialNode.

You may come up with creating something like
[code]

and then
[code]

[2018-11-29 11:30] defiler commented on #349
I think the people behind the graphene-django missed out how **confusing**, **frustrating** and all other **dirty** epithets is to work with **shadowed-out** id of an object.

[2018-11-29 11:44] defiler commented on #349
@webel

[code]

[2018-11-29 23:03] gvbkr commented on #509
@hellpirat  how did you resolve this issue? I am facing the same issue. When I follow the example https://docs.graphene-python.org/projects/django/en/latest/rest-framework/ here I get this error.

File "/root/Envs/venv/lib/python3.6/site-packages/graphene/utils/subclass_with_meta.py", line 52, in __init_subclass__
    super_class.__init_subclass_with_meta__(**options)
  File "/root/Envs/venv/lib/p

[2018-11-30 04:08] nwaxiomatic commented on #423
Also just ran into this issue trying to create an AutocompleteType that only allows two fields ("id" and "display"). Basically had to create a mixin I include with every Type that is supposed to be for the autocomplete query. Hopefully this gives another use case for this being useful.

[2018-11-30 19:41] olgapinheiro opened #558 "[DjangoObjectType] Error reading values different than options from field choices in query"
We have a model with a choices field:

[code]

[code]
[code]

When reading old event entries that have `category` different from the current options, we get the following error:
[code]

This issue might be related to #424.

[2018-12-03 14:55] lggwettmann commented on #296
Could we add it to the docs somewhere that django-graphene automatically maps property like described above? Very helpful @spockNinja :) Thanks.

[2018-12-05 08:33] NateScarlet opened #559 "DjangoFilterConnectionField is not filtering queryset union"
version: 2.2.0

This test will fail:
[code]

[code]

[2018-12-05 10:45] NateScarlet commented on #559
Or maybe use `QuerySet.__or__` intead
[code]

[2018-12-05 19:10] mvanlonden opened #560 "Related types are optional"
For models
[code]

and schema
[code]

I'd expect category type to include `ingredients: [IngredientType!]`, but instead I see `ingredients: [IngredientType]`. Why is `IngredientType` not required? If that relationship returns a queryset with count greater than 0, wouldn't that queryset always contain the model instance?

[2018-12-06 22:47] thevaleriemack opened #561 "Is this still being maintained?"
Would like to know because I just got started with this on a new project and already running into loads of trouble. @syrusakbary

Looks like issues are piling up so just interested to know the status on this?

Thx

[2018-12-06 22:59] patrick91 commented on #561
@thevaleriemack hopefully soon we'll get some maintainers here :)

See: https://github.com/graphql-python/graphene-django/pull/508#issuecomment-444208767

[2018-12-10 12:07] charlesverdad opened #562 "What's the best way to rate limit specific graphql endpoints?"
Is there a way to limit graphql endpoints? What are the current workarounds for this?

As a feature request, it might be a good idea to have something like https://django-ratelimit.readthedocs.io/en/v1.0.0/, where you can use decorators to ratelimit your APIs.

[2018-12-12 00:00] zbyte64 commented on #562
Why not just use django-ratelimit? You can use the graphql endpoint with decorators, this is how I did it with csrf exemption:

[code]

[2018-12-12 17:08] bk-equityzen commented on #474
I believe the root issue here is that graphene-django uses the `Enum` type to represents django fields with choices. The python `Enum` class doesn't make sense to have the `name` be an empty string. Possibly writing a custom Enum class could solve this.
[code]

[2018-12-13 08:58] charlesverdad commented on #562
Hi @zbyte64 haven't tried it yet but doesn't that require a view class though? I was hoping I could do it on a per-mutation/query basis. i.e., I want to limit only my graphql/signup endpoint and not all graphql endpoints.

[2018-12-13 19:55] zbyte64 commented on #562
I see, in that case you would embed the `is_ratelmited` call in each mutation or resolver: https://django-ratelimit.readthedocs.io/en/v1.0.0/usage.html#is_ratelimited ; where `info.context` is the request object the function needs

[2018-12-14 22:40] picturedots commented on #474
@bk-equityzen I am also thinking about creating a workaround that will create a value in the enumeration that represents blank, but would then be converted into an actual blank value after being processed by graphene (possibly in the the model's save or clean method.) . Will post here if I get something working.

[2018-12-15 23:09] mnieber commented on #61
It would be great if the graphene-django docs could explain how to pass the CSRF token from a javascript client (preferably appollo). If I find out myself I will post it here. My latest attempt looks like this (**note: doesn't work**):

    import ApolloClient from 'apollo-client';
    import { createHttpLink } from "apollo-link-http"
    import { InMemoryCache } from "apollo-cache-inmemory"
    i

[2018-12-15 23:14] japrogramer commented on #61
@mnieber bruh
[code]

[2018-12-15 23:55] mnieber commented on #61
Thanks @japrogramer, it looks a bit different from my attempt, but unfortunately it also doesn't work.

[2018-12-15 23:58] japrogramer commented on #61
@mnieber  maybe your Cookies.get('csrftoken') call isn't working ..
Im not actually calling Cookies.get I don't even have that installed.  ..

[2018-12-16 00:03] japrogramer commented on #61
@mnieber Hmm something like this should work.
`document.cookies.match(new RegExp('csrftoken=([^;]*)(;|$)'))`

[2018-12-16 11:09] mnieber commented on #61
The Cookies.get call is working (I checked it in this particular bit of code, and also, I'm using it in my jquery setup)

[2018-12-16 18:14] japrogramer commented on #61
@mnieber
maybe its your package version.

    "apollo-boost": "^0.1.10",
    "apollo-link-ws": "^1.0.8",
    "apollo-upload-client": "^9.1.0",
    "graphql": "^14.0.2",
    "graphql-tag": "^2.9.2",

[2018-12-16 18:16] japrogramer commented on #61
@dspacejs you could splitting the schema and merging them, one would be csrf exempt and the combined schema wouldnt

[2018-12-16 23:04] mnieber commented on #61
In the end I solved my problem by using the graphql-request package. This also solved another problem where authentication headers were not included in the request. I would suggest to include this (or something similar) in the graphene-django docs, it would be a great help to get started with graphene-django.

    import { request, GraphQLClient } from 'graphql-request'
    import Cookies from 'js

[2018-12-16 23:12] japrogramer commented on #61
Strange I don't use that package at all, and my code works for me.

[2018-12-24 07:16] NateScarlet commented on #532
Found out that i can turn field to nullable by use:
[code]

[2018-12-24 11:09] maarcingebala commented on #557
@jmn You should use `required=True` e.g.:
[code]
Now when I query for the `product` field in the API I need to pass the `id` argument, as it is required to actually determine which object I should return in my resolver.

[2018-12-24 11:55] maarcingebala commented on #560
True, if the data comes from a database relationship I think it would be safe to assume that the single nodes in the list won't be `null` objects.

To change that you'd have to override every single list field in your types and wrap the types that define list nodes with `NonNull`, in your case something like this:

[code]

We had a similar issue with connections, as the default ones result in opti

[2018-12-24 16:41] mvanlonden commented on #560
Ok great! Thanks for reaffirming this assumption. I'll look into subclassing the types to more accurately reflect the the reality. I'm generating typescript types using https://github.com/apollographql/apollo-tooling#apollo-clientcodegen-output so accurate typings prevent unnecessary existence checking.

[2018-12-24 16:41] #560 closed

[2018-12-26 18:34] reverie opened #564 "CharField result is being returned capitalized"
I have a Django model with a `CharField(max_length=1)`. All the data on it stored in lowercase. In graphene, I have a `DjangoObjectType` query on that model. The value for the `CharField`, despite being stored in lowercase, is sent in graphene responses as uppercase, e.g. 'Y' instead of 'y'. I've even tried adding a resolve_foo method in my schema.py for that specific field. I return lowercase let

[2018-12-27 12:31] maarcingebala commented on #561
Indeed, this project may look abandoned, especially when taking into account the list of open PRs - so many of them seem so useful and should be merged on a regular basis. It worries me a lot as this is still the most mature framework for GraphQL in Django and a lot of projects rely on it (including mine).

There is already a community around Graphene with quite many good contributors who do advan

[2018-12-27 13:50] syrusakbary commented on #561
I've created an issue in Graphene to define a full maintenance plan for Graphene and it's sub-projects:

https://github.com/graphql-python/graphene/issues/884

[2018-12-29 00:13] clintonb commented on #206
At a minimum the documentation should state the focus on Relay upfront. As someone coming from DRF, the documentation seems incomplete.

https://docs.graphene-python.org/projects/django/en/latest/filtering/

[2018-12-31 16:48] bastiW commented on #185
I chould fix it by just using the import statement. I imported the type from another class instead of rewriting it again.

[2019-01-03 16:46] janosroden commented on #376
I faced with the same effect when I tried to use an interface which had an `id` property:

[code]

When I removed the `id` from A then I got global id again

[2019-01-04 12:06] ArnaudPel commented on #73
Looks like an implementation has been merged already: [#46a1dded](https://github.com/graphql-python/graphene-django/commit/46a1ddedd8af3a73bac5615355e0f92375420ee9)

[2019-01-04 18:32] zbyte64 commented on #447
I think there is a valuable discussion over at stackoverflow on why DRF does not call `full_clean`: https://stackoverflow.com/questions/32834026/why-does-django-rest-framework-discourage-model-level-validation

[2019-01-04 19:08] mvanlonden opened #566 "DjangoConnectionField and DjangoFilterConnectionField does not support NonNull connections"
Connections fields shouldn't be nullable. I'm generating client side types through graphql introspection and have to do additional existence checking for connections. `DjangoConnectionField` and `DjangoFilterConnectionField` should default to creating `NonNull` connections

[2019-01-04 19:24] maarcingebala commented on #566
I've created a custom connection class just for that purpose and use it successfully across the entire project. We use Apollo's `codegen` + Typescript in our client apps and with these connections we have much cleaner types:

[code]

[2019-01-08 20:24] calocan commented on #206
The documentation bit me as well. I spent a couple hours trying to get filtering to work without knowing it relied on Relay, which I have no need for. When I try to use @zahir-koradia 's code above I get errors about duplicate fields, although a normal List field works fine with the same code. Thanks to everyone working on this.

[2019-01-09 21:22] aliev opened #569 "AttributeError: 'NoneType' object has no attribute '_meta'"
I have simple graphene based django project: https://github.com/aliev/graphene-django-bug

For some reason when I'm trying to run server or make migrations I have an exception:

[code]

I'm using model forms and DjangoModelFormMutation

[2019-01-13 22:44] vanyakosmos opened #570 "[question] How to use generated inner types?"
For instance if I have CharField `foo` with choices inside my model `Mod`. Graphene will create Enum type for that field named `ModFoo` (I can see it in docs in graphiql), but how can I use this type inside my code? How can I extract it from `class Mod(DjangoObjectType)`?

[2019-01-14 02:57] vanyakosmos opened #571 "FilterSet fields associated with CharField with choices are not converted into graphene.Enum"

[2019-01-14 03:00] vanyakosmos commented on #571
Because type of filter can be not only `exact` but `startswith`, `contains`, etc and better to keep using string I guess.

[2019-01-14 03:00] #571 closed

[2019-01-16 12:40] brubbel opened #572 "GraphiQL to version v0.11.11?"
Proposal to move to GraphiQL v0.11.11 to solve a markdown issue in the documentation:
cfr. https://github.com/graphql/graphiql/issues/575

Scanning over the code, the main difference between v0.11.10 and v0.11.11 is a switch from 'marked' to 'markdown-it' for rendering the documentation.

Affected lines:
https://github.com/graphql-python/graphene-django/blob/f76f38ef30b88d921df243b09c4970528b1a400

[2019-01-17 12:50] bhanuchander008 opened #573 "how to create object with foreign key in model using graphine django?"
[code]
![screenshot from 2019-01-17 17-45-50](https://user-images.githubusercontent.com/34958449/51320005-8cb22080-1a84-11e9-90a7-cc5c3092f17b.png)

getting error as actor_id cannot be null

[2019-01-18 04:01] bhanuchander008 commented on #573
plz help me

[2019-01-18 04:46] ganeshsingamaneni opened #574 "how to add data to a table with foreign key with django_graphene?"
here i have two tables with a foreign key in a second table, now how to write a schema query to add data to the second table which has a foreign key.

[2019-01-18 19:00] cobalamin commented on #423
Pretty ugly hack, but: personally I ~fixed~ worked around this by (in the subclass that's supposed to be a parent) referencing `django.contrib.auth.models.User` with a local registry that's never used again:

[code]

Why this works:
- `User` is always a valid Django model
- the metaclass being overridden makes `SomeModelObjectType` use the global registry again
- having a throwaway registry doesn'

[2019-01-19 02:36] kneufeld commented on #305
@Mhs-220 did you ever figure out how to do this? I'm in the same boat.

[2019-01-23 11:32] rtindru commented on #349
What's the work-around here? While I like the Global ID declaration of Graphene-Relay, I hate that it shadows the ID field and makes it impossible to filter & query Connection objects using ID in Relay.

One option is of-coruse to redeclare the ID in a `pk` field, but this is tedious and verbose. Also, to get filtering to work, the FilterSet also needs an explicit pk declaration :(

Any ideas on h

[2019-01-24 12:09] jakeseaton opened #575 "Support FTS Queries"
I have a full text search field using `pg_fts`. Using the ORM I can query it using the Django search lookup e.g. `Model.objects.filter(fts_index__search="query")`. When I try to do this via grapgene, I set it up like this:

[code]

However, I get this error: `FilterSet resolved field 'fts_index' with 'search' lookup to an unrecognized field type TSVectorField. Try adding an override to 'Meta.filte

[2019-01-25 19:46] mjmare opened #576 "Nullable BooleanField incorrectly mapped to GraphQL Boolean!"
I have this in my Django model:
[code]
In GraphiQL this field is shown as:
[code]
and therefore I get an error:
"message": "Cannot return null for non-nullable field ...someBoolean.",

[2019-01-25 20:01] mjmare opened #577 "CharField choices mapped incorrectly to GraphQL"
I have this field defined:
[code]
graphene creates a AspectCategory:
[code]
which already seems wrong to me (shouldn't it be the key instead of the value?).
When querying I get the error:
[code]
So for some reason graphene passes the value (not the key), which obviously does not match the GraphQL enum (I think).

[2019-01-28 16:40] danpalmer commented on #423
@cobalamin thanks for this! I've just applied this technique on our codebase it it worked perfectly. Our previous hack was to use a dynamic base class which mypy then couldn't inspect, so we've now got more idiomatic Python, simpler code, better linting and better typechecking!

[2019-01-31 21:54] citadelgrad commented on #460
I removed the interfaces option under Meta, now my site returns the **integer** _instead_ of the **hash**. As best as I can tell Interfaces help detect the field types from your models or database.

Here's where I read about interfaces.
https://github.com/graphql-python/graphene/blob/master/graphene/types/interface.py
"""
    Interface Type Definition
    When a field can return one of a heterogen

[2019-02-01 09:35] samkit-jain opened #578 "Get global ID from a model object"
Say, I query an object like `obj = Person.objects.get(first_name='John', last_name='Lennon')`. How can I get the global ID that would be created for this object? Is there a method where I can pass in the object and in response get the global ID?

How the node looks in schema
[code]

[2019-02-01 13:32] hilmarh commented on #578
This should work

[code]

Source: https://github.com/graphql-python/graphene/blob/v2.1.3/graphene/relay/tests/test_global_id.py

[2019-02-02 11:14] samkit-jain commented on #578
@hilmarh Thanks, this works.

[2019-02-02 11:14] #578 closed

[2019-02-02 15:02] abdelhalimresu commented on #286
Is there any update on this topic? I started using django-elasticsearch-dsl and something like `DocumentObjectType` is gonna be great.

[2019-02-02 15:32] jeffcjohnson commented on #286
I just went back and found the code I had written before.  I'm going to drop it in a new project and will update this comment with the location.

[2019-02-04 07:15] vojto commented on #124
Here's @MrTin's solution updated to Sentry unified Python SDK:

[code]

[2019-02-05 10:07] danpalmer opened #581 "Exception on resolution to non-Django model"
The `is_type_of` method on the `DjangoObjectType` returns a boolean for most code paths, but on one code path raises an `Exception`. To customise this behaviour in a subclass, we therefore have to call super, catch the exception, and match on the error message.

This isn't ideal, and took a while to figure out and get right. It would be great if it could be fixed, and the API contract for `is_type

[2019-02-05 15:12] smmoosavi commented on #566
[code]

[2019-02-05 20:06] mvanlonden commented on #566
@smmoosavi awesome! thanks

[2019-02-06 03:07] smmoosavi commented on #566
I think you can close #567

[2019-02-06 15:41] kevinzDzul commented on #101
how to save a file  this is my  link   https://github.com/lmcgartland/graphene-file-upload/issues/28#issue-407027908

[2019-02-06 15:57] kevinzDzul opened #582 "how to upload file with graphene-file-upload"
this link https://github.com/lmcgartland/graphene-file-upload/issues/28#issue-407027908
how to save file .. is confuse for me.

[2019-02-06 16:54] #566 closed

[2019-02-09 00:46] yardensachs commented on #280
I'm surprised this is still not been addressed

[2019-02-09 00:51] yardensachs commented on #280
@syrusakbary same as camel cased fields, this makes sense to turn into the GraphQL convention.

But like the field name, when translating back the request, you translate the fields back to snake case, you should al be mapping this enum value back to what it originally was before altering it.

I have my app with many many choices fields, and the use of enum is great and makes sense, but I can't use

[2019-02-11 23:04] amreshprasad commented on #302
This is a problem for me as well. I have a situation where I need to do an OR operation on a few fields. I am doing that in the resolver method and through log messages in the resolver I can see I am getting the correct query set. But if there are any filter_fields defined in the DjangoObjectType wrapper class (around my model class), the filters are applied to my result set as an AND operation an

[2019-02-12 12:13] rcostanza commented on #286
Could you provide an example on how to use it?

Using the `DocumentObjectType` instead of `ObjectType` and pointing it to my ES' Document (through `Meta.doc_type`), it seems to require a connection and I couldn't find a way to implement one.

[2019-02-12 14:09] jeffcjohnson commented on #286
@rcostanza I added an examples folder with the code from my old project.  I hope that will be enough to show how to wire it up.

Feel free to create issues on that project.  I don't have much spare time but it would be nice to make it work with the starwars sample schema.

[2019-02-13 17:26] yoelvys opened #583 "how to personalize resolve DjangoObjectType"
[code]
My schema
[code]
My question is how to personalize resolve_cities in CountryNode class.

Something like this
[code]

[2019-02-13 17:31] yoelvys commented on #583
I've done it with Object Type but I do not want to lose the relay pagination

[2019-02-14 23:29] clarkmoody commented on #91
Waiting on this feature as well.

[2019-02-15 15:47] picturedots commented on #124
After I updated to sentry_sdk, I started receiving the correct data exceptions in Sentry, without any addition changes to views or middleware.  The errors were double-reported as GraphQLLocatedError errors, so I added a filter to remove them:

    from graphql.error import GraphQLLocatedError

    def before_send(event, hint):
        """
        Filters GraphQLLocatedError events to prevent doubl

[2019-02-16 11:00] Sukochev commented on #77
@blakegong Hi Blake, appreciate your post. How would you write the arguments now in
[code]
Now that graphene has updated it's argument structure to `def resolve_users(self, info **kwargs)`
?

[2019-02-17 16:10] yongtaekjun commented on #108
I followed the link  https://www.howtographql.com/graphql-python/2-queries/
PS > pip install graphene_django
PS > python manage.py startapp links
PS > pip list
==== it has graphene-django 2.2.0 ===================
The error message shown same as above.

[2019-02-17 16:35] yongtaekjun commented on #108
I solved the problem ^^.
The python-django is running under Windows 10.
In the Python folder : (in my case ) E:\Programs\Python3.7.2\Lib\site-packages\graphene_django
The folder name should be graphene-django ( not underbar ). Or we should write correct the name inside settings.py like bellow

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttype

[2019-02-20 08:46] crazyscientist opened #584 "Custom model managers derived from BaseManager are not supported"
If the custom model manager is not derived from `django.db.models.manager.Manager` but it's base class `django.db.models.manager.BaseManager`, descending into ManyToMany relations just gives this error message:

[code]

I found the reason for this in `graphene_django/utils.py` in the function `maybe_queryset`:

[code]

Changing the inheritance of my manager or replacing `Manager` with `BaseManager

[2019-02-20 14:44] Somtom commented on #542
I have a similar problem with `MultipleChoiceFilter`.
In my case it returns an empty queryset as soon as I use the `MultipleChoiceFilter` field in the query. If I don't use it or use a `CharFilter` or `NumberFilter` it works again.
Also if I change `MultipleChoiceFilter` to `CharFilter` it also works.

[2019-02-22 03:57] craynic commented on #147
No matter how the global ID is necessary to relay, id is very important to Django models, because it is often used as a handler to a object. If the `id` field is overridden, most normal logic will break.
Hope that there could be a way to rename the global ID, or some instructions on how to rename the model id.

[2019-02-22 13:11] kevingill1966 opened #586 "NormalCursorWrapper has invalid sigatures for callproc and execute"
File: /debug/sql/tracking.py

The callproc and execute methods have an incorrect signature. This is causing a substitution attempt in the standard code, which breaks if there are '%'s in the SQL function.

    def callproc(self, procname, params=()):
          return self._record(self.cursor.callproc, procname, params)

    def execute(self, sql, params=()):
          return self._record(self.curs

[2019-02-23 03:54] japrogramer commented on #562
hmm, one solution could be a decorator that gets the class and resolver function
than uses that as a key with the users pk
 in redis with an auto expire provision ..

[2019-02-26 18:42] defiler commented on #505
Doen't work if field label is non-english.

[2019-03-01 05:06] saern commented on #573
I create objects with foreign keys by replacing the object passed on the query with the instance of the foreign-key, for example:

[code]

And then on the mutate function, passing in kwargs, you can do:

[code]

With the graphql query looking like:

[code]

[2019-03-01 07:26] mc-devops commented on #583
You shouldn't be trying to add a resolver for Cities on the Country Node. The only reason you would add a field and resolver directly on the Type definition is if it is not defined in the django model.

You should be able to add the custom resolver in your query, like:

    class Query(object):
        city = relay.Node.Field(CityNode)
        all_cities = DjangoFilterConnectionField(CityNode)

[2019-03-01 07:27] louisdvs commented on #583
You shouldn't be trying to add a resolver for Cities on the Country Node. The only reason you would add a field and resolver directly on the Type definition is if it is not defined in the django model.

You should be able to add the custom resolver in your query, like:

[code]

[2019-03-01 09:09] port80dev opened #587 "Follow the latest relay document, how to generate schema.graphql"
Follow the latest relay document, how to generate schema.graphql https://facebook.github.io/relay/docs/en/installation-and-setup.html

i try to use graphen django with react + relay but i don't know how to generate schema.graphql. I found graphen django can generate schema.json with command graphql_schema but it can't use with relay.

[2019-03-01 11:26] #587 closed

[2019-03-01 17:02] tpict commented on #569
I'm having the same issue with the rest framework `SerializerMutation`

[2019-03-02 12:45] evansmwendwa commented on #531
Was there any success in this?

[2019-03-03 18:20] BossGrand commented on #531
no, no updates

[2019-03-05 20:54] koddr commented on #479
PyCharm 2018.3.5 is here, but this warning is still here too...

[2019-03-06 16:02] ceelian commented on #569
same here, can't figure it out why this is happening.

[2019-03-06 19:10] ceelian commented on #569
In my case the error originated from defining the SerializerMutation class before the Type class which I needed in the SerializerMutation. After moving all schema types above the mutations it worked.

[2019-03-07 00:38] carlossanchezcorrea commented on #30
sorry for my bad english y found the problem.

this is my code:
**Query**
`class Query(graphene.ObjectType):
    all_properties = DjangoFilterConnectionField(PropertyNode,
                                                 filterset_class=PropertyFilter,
                                                 order=graphene.List(of_type=graphene.String),
                                                 exc

[2019-03-07 02:54] jordanmkoncz commented on #280
Just ran into this issue too and was very confused that Graphene was forcing all my enum string values to uppercase. Given that Django itself treats enum strings used as `choices` as being case-sensitive, and does not force them to be uppercase, I think it's important that Graphene doesn't try to force them to be uppercase.

If GraphQL recommends string constants be uppercase, perhaps it's worth m

[2019-03-10 09:45] ktosiek commented on #293
Looking at the code of that middleware, I see it waits for all promises that where seen by the middleware before starting to resolve `__sql`.
I think something like this might work:
[code]

(TODO: actually check if it works :-))

[2019-03-11 08:54] gotexis opened #592 "DjangoFilterConnectionField, Apollo, Vue, Relay.Node....................."
As per getting started documentations,

It seems the official recommended way to set up the project is with Relay.Node,

Integration with django-filters **DjangoFilterConnectionField** rely on Relay integration.

Further, I need below code:
[code]

I am planning to use VueJS / Apollo. Does this mean I cannot go Apollo but have to use Relay, or does it not matter? What is the recommended stack?

[2019-03-11 12:44] gotexis commented on #575
+1 for FTS.

Have you tried using FTS with django-filters tho?

I remember calling for help there, and some1 did gave me an example, but too bad I haven't got time to test it.

Would you care to take a look @jakeseaton

[#103](https://github.com/carltongibson/django-filter/issues/1039)

[2019-03-11 19:33] daveoconnor commented on #79
I needed this functionality and it looked like it might take a while before it would be implemented into graphene itself, so I've created some middleware and a decorator to handle it for my use case.

If anyone else is in immediate need it's available at: https://github.com/daveoconnor/graphene-field-permission

[2019-03-12 00:26] gotexis opened #593 "Authentication (JWT / CSRF)"
I believe authentication is one of the most common use cases,

yet I am having a hard time finding an out-of-the-box solution for authenticating the user with a React/Vue client (which will use JWT I guess).

Where can I find a minimal example?

[2019-03-12 00:28] gotexis opened #594 "Building mutations from scratch - django form or DRF better?"
I have a project from total stratch. In terms of simplicity which will be easier?

[2019-03-12 03:32] TitanFighter commented on #593
Just in case if you use Django: https://github.com/flavors/django-graphql-jwt

[2019-03-12 06:20] mc-devops commented on #592
Works fine with Apollo client.
https://www.apollographql.com/docs/react/features/pagination.html#relay-cursors
The Relay spec defines how to handle cursor based pagination using a hashed id instead of the Django id. The hashed ID is a combo of the Type and the Django id. Makes it tricky if you want to get something from your API by the Django id. You could define the Django id as an additional fie

[2019-03-12 09:11] gotexis commented on #509
+1 facing this issue...

[2019-03-12 09:14] gotexis opened #595 "serializer_class is required for the SerializerMutation"
[code]

_Originally posted by @hellpirat in https://github.com/graphql-python/graphene-django/issues/509#issuecomment-443104948_

[2019-03-12 19:59] Diggitysc commented on #593
I am running into this issue as well. (current stack is Django-graphene as graphql backend with apollo-client/react on the front end)

https://github.com/flavors/django-graphql-jwt provides a method to generate a token, however there is still an issue of encrypting traffic between the frontend and the backend (how does one get around username/password in clear text for initial token creation).

Ad

[2019-03-12 23:49] gotexis commented on #593
@TitanFighter thanks, i have taken a look at the flavor project, i think it is helpful but need some more time to adapt. Will provide my experience once I have progress.

I also am aware of storing plan text token, but it is now only my secondary concern given they can be short lived (5min default).

However this would mean a strategy to regularly update token need to be implemented.

My biggest c

[2019-03-13 18:14] Diggitysc commented on #593
@gotexis Sounds great! I will not be using Oauth but I think the configuration on the react side will be the same (cookie containing jwt). I have a feeling it may just be a lack of understanding on my part regarding the interaction between the front-end/backend, but I will come back with something once I have it.

As a side note I am appalled by the huge number of demos that give examples with loc

[2019-03-13 22:29] Diggitysc commented on #593
At this stage with a lot of looking around I am starting to agree with the following two articles:

http://cryto.net/%7Ejoepie91/blog/2016/06/13/stop-using-jwt-for-sessions/
http://cryto.net/%7Ejoepie91/blog/2016/06/19/stop-using-jwt-for-sessions-part-2-why-your-solution-doesnt-work/

I am not going to go as far as the author and say that JWT is not worthwhile, simply that individuals should be aw

[2019-03-15 00:39] gotexis commented on #593
As I recall from reading one article, the main problem of criticism of JWT is the lack of a suitable alternative...

[2019-03-15 23:36] gotexis opened #596 "CACHE queries"
https://github.com/graphql-python/graphene/issues/919

I would like to output filters/queries into CACHE (JSON) to improve performance when the client calls a query, what are my best options?

[2019-03-18 22:14] Diggitysc commented on #593
It looks like https://github.com/flavors/django-graphql-jwt solved the authentication/JWT cookie problem with their latest update.

To implement: follow settings recommendations here: https://django-graphql-jwt.domake.io/en/stable/quickstart.html#installation

However also add a revoke_token mutation, listed in schema here: https://django-graphql-jwt.domake.io/en/stable/refresh_token.html

Then in

[2019-03-19 06:03] aliektlee commented on #107
Hi @syrusakbary ,

May i know how to implement the below structure and make it works, thank you very much.

model:
[code]

scheme type:
[code]

[2019-03-19 15:34] #11 closed

[2019-03-19 15:35] #14 closed

[2019-03-19 15:36] #18 closed

[2019-03-19 15:37] mvanlonden commented on #29
Looks like we found a solution. Will leave https://github.com/graphql-python/graphene-django/issues/460 open to track the documentation need

[2019-03-19 15:37] #29 closed

[2019-03-19 15:38] mvanlonden commented on #34
@BossGrand is this still an issue? Do we have an open PR for it?

[2019-03-19 15:39] #42 closed

[2019-03-19 15:39] mvanlonden commented on #48
Closing due to inactivity

[2019-03-19 15:39] #48 closed

[2019-03-19 15:45] mvanlonden commented on #57
@tfoxy thank you 🙇‍♂️! @zbyte64 mind adding a section in the docs about `graphene-django-optimizer`

[2019-03-19 15:46] mvanlonden commented on #59
Looks like this was fix by https://github.com/graphql-python/graphene-django/pull/60. Reopen if the issue persists

[2019-03-19 15:46] #59 closed

[2019-03-19 15:56] mvanlonden commented on #67
What would be the desired behavior for enums? I think it makes sense to handle them automatically unless explicitly defined on in the schema but maybe we can introduce some config to handle the different use cases.

[2019-03-19 15:57] #72 closed

[2019-03-19 15:58] #73 closed

[2019-03-19 16:16] mvanlonden commented on #76
@paymog
[code]

[2019-03-19 16:25] mvanlonden commented on #77
@jeffreybrowning are you still available to help with this refinement?

[2019-03-19 16:32] mvanlonden commented on #79
The GraphQL organization [recommends delegating authorization to the business layer](https://graphql.org/learn/authorization/). You could use [django-guardian](https://github.com/django-guardian/django-guardian) or [django-rules](https://github.com/dfunckt/django-rules) to create object-level permissions. Alternatively, you could protect the endpoint at the view layer.

[2019-03-19 16:34] mvanlonden commented on #83
No progress as of yet. PRs welcome

[2019-03-19 17:23] mvanlonden commented on #84
@drakon looks like this was fixed? Closing, reopen if not resolved

[2019-03-19 17:23] #84 closed

[2019-03-19 17:24] #85 closed

[2019-03-19 17:25] #88 closed

[2019-03-19 17:27] #90 closed

[2019-03-19 17:31] mvanlonden commented on #96
Fixed here https://github.com/graphql-python/graphene-django/pull/366#issuecomment-394869564

[2019-03-19 17:31] #96 closed

[2019-03-19 17:31] mvanlonden commented on #171
Fixed here https://github.com/graphql-python/graphene-django/pull/366#issuecomment-394869564

[2019-03-19 17:31] #171 closed

[2019-03-19 17:42] mvanlonden commented on #97
@camgunz or @sdcooke could either of you create a PR that respects `only_fields = ()` or `only_fields = []`?

[2019-03-19 17:42] mvanlonden commented on #516
Closing in favor of https://github.com/graphql-python/graphene-django/issues/516

[2019-03-19 17:42] #516 closed

[2019-03-19 17:42] #100 closed

[2019-03-19 17:45] mvanlonden commented on #106
@RadoRado we're starting to label issues with `Help wanted` and `Documentation`. Would be great if you could take some of those on! 🍻

[2019-03-19 17:45] #106 closed

[2019-03-19 17:49] mvanlonden commented on #124
Closing since this issue is not specific to graphene-django

[2019-03-19 17:49] #124 closed

[2019-03-19 18:51] nerdoc commented on #14
closed, because....? WONTFIX, WORKSFORME?
I'm just interested if Graphene could implement this?

[2019-03-19 23:50] gotexis opened #597 "multiple frontend calling the same API - how to distinguish which is calling?"
I have a use case where 1 backend will serve an unlimited amount of frontends.

The frontends will be serverless/static Web apps (Vue).

Every frontend calls the same API.

Each frontend **do not share** info.

Now how to distinguish which is calling, in order to serve the correct content? I have some ideas:

1. check the HTTP-REFERER header, but this can be spoofed or blocked from sending by cert

[2019-03-20 01:27] zbyte64 commented on #271
Duplicate of #69

[2019-03-20 01:27] #271 closed

[2019-03-20 01:36] zbyte64 commented on #597
This question is not specific to this project. I would recommend asking this on stackoverflow.

[2019-03-20 01:36] #597 closed

[2019-03-20 01:41] zbyte64 commented on #595
The error has the explanation at the end, you have defined a `SerializerMutation` without specifying a `seiralizer_class`

[2019-03-20 01:45] zbyte64 commented on #592
Doesn't matter. Apollo speaks graphql, relay is just extra graphql batteries. graphene-django does not recommend any stack over another, we just make it easier to use graphql with django.

[2019-03-20 01:45] #592 closed

[2019-03-20 01:47] #128 closed

[2019-03-20 02:09] gotexis commented on #597
Yeah, given that there are already 221 open issues now, really this is the very least priority,

sure buddy

[2019-03-20 16:04] zbyte64 commented on #594
I tend to use the DRF mutations for when I already have DRF serializers, otherwise I tend to reach for django forms. There are more rough edges with the django form mutations but it feels like your going through one less abstraction and have more direct control of behavior.

[2019-03-21 03:04] zbyte64 commented on #227
The converter does translate UUID frields to graphene UUID fields. So maybe this bug is no longer valid?

[2019-03-21 03:37] mvanlonden commented on #474
I'm curious what the thread thinks about the solution proposed above. This would add an `EMPTY` enum to the choices if `blank=True`

[2019-03-21 16:05] zbyte64 commented on #576
Duplicate of #486

[2019-03-21 16:05] #576 closed

[2019-03-21 20:25] BossGrand commented on #34
I think its been fixed

[2019-03-21 20:25] #34 closed

[2019-03-21 20:26] BossGrand commented on #596
this might be useful https://github.com/graphql-python/graphene/issues/919

[2019-03-21 23:16] #596 closed

[2019-03-22 11:31] filipeximenes commented on #319
A bit late but the example would be:
[code]

[2019-03-22 16:07] zbyte64 commented on #67
Way I see it there are 3 options:

   - Create one converter to rule them all. This is what we're doing right now, I don't think it will ever work.
   - Option to disable enum globally. More like a stopgap solution, should be avoided
   - Option to explicitly set the enum value. This is probably the right way to go. Check out #209

There are quite a few issues related to this behavior:

-  #133, #

[2019-03-22 19:26] zbyte64 commented on #319
The test case currently has an `Article` that has a foreign key to a proxy model `Reporter`

Currently at:
https://github.com/graphql-python/graphene-django/blob/ea2cd9894fa1c8a65c365d1b7c042e27df519324/graphene_django/tests/test_query.py#L896

To match the example given here they foreign key would be adjusted to `CNNReporter`

[2019-03-22 20:13] picturedots commented on #474
Since this bug is still outstanding and is blocking my upgrade to newer versions of graaphene, I am considering converting all of the affected fields in my project to use graphene string types over the API -- the frontend would need to be passed the set of strings formerly coming from the enumeration.

[2019-03-23 01:10] mvanlonden commented on #474
https://github.com/graphql-python/graphene-django/pull/598#issuecomment-475773766

[2019-03-23 01:10] #474 closed

[2019-03-23 16:05] threewordphrase opened #599 ""Expected value of type \"Visit\" but got: Visit.""
Hello, I have a very strange issue. Just playing around with GraphQL in an existing project.  Here is my schema:

[code]

Query:
[code]

Output:
[code]

FWIW, these are Proxy Models, not sure if that matters.

[2019-03-23 19:10] allfro commented on #273
The problem appears to exist in this code snippet:

[code]

Relation connection fields are initialized just with the node type. I've monkey patched `DjangoFilterConnectionField`'s `connection_resolver` method to achieve the desired result:

[code]

It's not ideal, but it works. A global django setting that would allow users to specify the default base `FilterSet` class to be used when creating dyn

[2019-03-24 21:06] zbyte64 commented on #599
Possibly a recreation of #319 ; Right now basic proxy models are suppose to work, but expects VisitModel to be the base proxy. The test is also using the relay interface and some other params, perhaps we should duplicate the test without those extra params as you did here.

[2019-03-25 07:37] gotexis commented on #61
It seems Graphiql cannot succesfully set correct CSRF token.

Is there a forked version that allows this?

[2019-03-25 07:48] mnieber commented on #61
@gotexis You can try the advice from syrusakbary, it should work (https://github.com/graphql-python/graphene-django/issues/61#issuecomment-261199128)

[2019-03-25 11:41] gotexis commented on #593
@Diggitysc

Haha, actually I just saw your GraphQL howto repo and couldn't believe what I've seen. You are becoming the champion of GraphQL sir :)

OK so both you and @mongkok author of GraphQL_JWT recommended me to use cookies instead of LocalStorage.... Hmmmm

https://github.com/flavors/django-graphql-jwt/issues/85

OK ket's do it then :)

Too bad I am at exactly where you are at, just with Vue,

[2019-03-25 12:21] gotexis commented on #114
I am having this exact issue.

[2019-03-26 06:17] gotexis commented on #594
@zbyte64 Thanks for your input.

Actually, I have one question for access control.

We know in DRF, access control could be attained through mixins in a generic and composable way.

Surely we need some kind of access control, I wonder if SerializerMutation inherits that access control? Or do we have to define access control logic elsewhere?

(side note: surprisingly, I have never actually used DRF

[2019-03-26 06:26] gotexis commented on #595
@zbyte64
Hey,

Actually, I believe there was some kind of error. I have checked the serializer mutation, it is there.

[code]

Then, when composing the mutations, cannot compose it like queries, I had to manually do this:

[code]

I hope this issue could be reopened

[2019-03-26 15:22] GitRon opened #602 "Adding DjangoModelFormMutation to schema raises import error"
Hi there!

I try to use the awesome `DjangoModelFormMutation` but when I add the mutation to the schema I always get this error:

`Could not import 'project.config.schema.schema' for Graphene setting 'SCHEMA'. AttributeError: 'NoneType' object has no attribute '_meta'.`

Here's my setup:

[code]

Any ideas what I might be doing wrong?

Thanks!
Ron

[2019-03-26 15:50] GitRon commented on #569
@ceelian How did you do it? I use separate files for types, queries etc.

[2019-03-26 15:58] zbyte64 commented on #595
I believe standard practice is to have both `Query` and `Mutation` be defined as `ObjectType`s . Anyhow, which doc page did you consult?

[2019-03-26 16:02] GitRon commented on #602
Ok, this seems to be a bug! When I copy all my types above my mutation class, I don't get this error. Took me about 5h to find this out... 😱

I added the types manually to the schema like this:

[code]

But no effect.

[2019-03-26 16:19] zbyte64 commented on #594
I don't think the access control carries over, unless you have custom logic implemented in the serializer class. Most of the DRF permissions appear to be hooked in at the view level before it is handed off to the serializer.

[2019-03-26 17:16] zbyte64 commented on #602
django-graphene is trying to import your schema file and is encountering another error along the way. I would recommend doing a `manage.py shell` and attempt manually importing the schema. This way you can see the import error without other code eating the message.

[2019-03-26 23:37] gotexis commented on #595
@zbyte64 Actually the fault was on my end... Oops

I believe what should have been done:

[code]
Then in the main schema:
[code]

So basically there are 3 levels, I tried to compose serializer mutations together (2 levels), so the mutations overwrite each other...

LOL

[2019-03-27 00:03] #561 closed

[2019-03-27 00:04] BossGrand commented on #561
Closing as this has been answered

[2019-03-27 00:07] BossGrand commented on #556
Where do serializes come from?

[2019-03-27 00:15] kamilkijak commented on #556
From [rest-framework](https://www.django-rest-framework.org/api-guide/serializers/#serializers), I updated the ticket as well.

[2019-03-27 01:33] abettke commented on #599
To add to this, we are finding this same behavior as well with the following library versions. It only seems to occur on Types that are using a proxy model.

graphql-core==2.1
graphene==2.1.3
graphene-django==2.2.0

[2019-03-27 04:15] abettke commented on #319
IRT #599, I've added a [PR](#603 ) to try and better address this issue.

[2019-03-27 08:05] GitRon commented on #602
@zbyte64 Thanks for the reply! I know that it's exactly this Mutation that's causing the problem. But if you know about a good way to inspect this with the `shell` I'd be happy to know about it.

But as I said I'm pretty sure that it is a bug. I'm going to dive a little deeper in the source code today and see if I can find out something.

But I wonder that I seem to be the first guy having issues

[2019-03-27 08:45] GitRon commented on #602
Update: The error comes from the part where I register the mutation:

[code]

Any idea why the `Field()` does not have a type and how I solve this?

[2019-03-27 15:03] GitRon commented on #602
Apparently I have to name the mutation:

[code]

Might be nice to have this in the docs?

[2019-03-27 15:12] GitRon commented on #602
Ok, now I found the issue!

I need to import above my mutation the `PetType`! Without a usage...

[code]

So this is really a bug.

[2019-03-27 19:36] Cito commented on #79
Another interesting approach is taken by PostGraphile, where the [security](https://www.graphile.org/postgraphile/security/) is pushed even further down to the database level. Maybe this could be provided as an alternative option.

[2019-03-27 22:55] Diggitysc commented on #593
**Update on Apollo/Django implementation:**

If you are ejecting (react-create-app) and running your javascript code from django you shouldn't need the below (as csrf tokens should be assigned/accessible via the same port). I haven't tested that aspect out, but if someone does please let me know if you ran into any trouble or not.

For the rest of us, often times django-graphene is running from so

[2019-03-28 00:27] pizzapanther commented on #79
Row level security is nice in postgres if you can do it but it is not always featureful enough. Had that problem in a recent project so we had to push it up a level from the DB.

[2019-03-28 05:09] x9sheikh opened #606 "Custom Graphql Template"
I want to get this type of custom screen which is following below:
![image](https://user-images.githubusercontent.com/45112750/55131692-848bf680-5141-11e9-9240-efcb48a36192.png)
but I have this
![image](https://user-images.githubusercontent.com/45112750/55131741-b1d8a480-5141-11e9-82e0-2ddec45c94aa.png)
Due to this I'm getting an authentication issue. Can you resolve it. Respected Thankx in advanc

[2019-03-28 06:57] x9sheikh commented on #606
Unfortunately, the GraphiQL web interface that we use (that looks like a white interface) does not accept  custom HTTP headers or more advanced settings.So, to getting a advanced GraphiQL web interface we have to install Insomnia desktop app. You can download and install it from `[here](https://insomnia.rest/download/)`.
So, If you have fresh beginner just like me. Then, [here](https://www.youtube

[2019-03-28 09:06] Nabellaleen commented on #79
Reading a lot various discussions about the subjects, I'm more and more convinced that this way of doing things (declaring in Graphene schema the permissions) is the "old way". The "REST" way ;)

As mentioned by @mvanlonden, GraphQL organization recommends to delegate this authorization to the business layer. This method is also similar to what should be implemented, for example, when you let a us

[2019-03-29 05:36] monokrome opened #607 "`exclude_fields` doesn't actually assign anything to `_meta.exclude`"
Yo! I am trying to use `exclude_fields` after installing the latest version of *graphene_django*, but `exclude_fields` doesn't get assigned to `_meta`. 🙀

I'm trying to debug this, and I thought that adding it here may fix the issue - but it doesn't seem to? https://github.com/graphql-python/graphene-django/blob/master/graphene_django/types.py#L107-L112

Any ideas, let me know! Happy to pop over a

[2019-03-29 05:40] monokrome commented on #607
Just realized that this may be a bug in graphene specifically, hard to tell from my end. Hopefully someone here has an idea. ❤️

[2019-03-29 15:23] zbyte64 commented on #607
I believe the class consults `exclude_fields` to construct `django_fields` (stored as `fields`) and doesn't store the actual field params.

[2019-03-30 23:45] mvanlonden commented on #120
Subscriptions added in v2 https://github.com/graphql-python/graphene/releases/tag/v2.0.0

[2019-03-30 23:47] #137 closed

[2019-03-30 23:51] mvanlonden commented on #138
@dudanogueira you can define custom filtersets http://docs.graphene-python.org/projects/django/en/latest/filtering/#custom-filtersets

[2019-03-30 23:51] #138 closed

[2019-03-30 23:54] mvanlonden commented on #140
@ajxchapman @hyusetiawan is this still any issue?

[2019-03-30 23:55] #142 closed

[2019-03-30 23:59] mvanlonden commented on #158
Thanks @creimers

[2019-03-30 23:59] #158 closed

[2019-03-31 00:04] mvanlonden commented on #161
@Speedy1991 you can execute a query against your schema. https://docs.graphene-python.org/en/latest/quickstart/#querying

[2019-03-31 00:04] #161 closed

[2019-03-31 00:42] mvanlonden commented on #414
Apollo is supported. Tracking uploading issue in https://github.com/graphql-python/graphene-django/issues/417

[2019-03-31 00:42] #414 closed

[2019-03-31 11:01] #520 closed

[2019-04-01 15:13] mvanlonden commented on #120
Reopening to add native support for subscriptions using channels

[2019-04-02 19:43] firaskafri commented on #120
@eamigo86 what are your thoughts regarding adding subscriptions to the django-graphene repo?

[2019-04-02 21:47] Diggitysc commented on #593
**Update:**

So the above solution works if you are generating a single graphql call per page.

However if you are bundling (via higher order components) several graphql calls per page (such as multiple queries to display different self-contained data components) due to the asychronized nature of javascript you will likely run into a CSRF token problem as multiple requests will generate distinct c

[2019-04-03 09:14] liamstory opened #612 "how to login to graphql page(localhost:8000/graphql) with django"
I want to use @login_required function like below code. and I want to check the query correctly works.

import graphene
from graphql_jwt.decorators import login_required

class Query(graphene.ObjectType):
    user = graphene.Field(UserType)

    @login_required
    def resolve_me(self, info):
        user=info.context.user
        return types.UserProfileResponse(user=user)
i put the code into gra

[2019-04-03 12:35] phalt commented on #612
You will need to use token authentication to log the user in.
graphene does have this support, but the popular Django-Rest-Framework has a nice plugin for this, see https://www.django-rest-framework.org/api-guide/authentication/#tokenauthentication

[2019-04-03 14:30] phalt commented on #612
I noticed you're using django-graphql-jwt, have you read the documentation on how to do that? https://github.com/flavors/django-graphql-jwt/

[2019-04-03 22:59] liamstory commented on #612
@phalt thank you it is reduce my time!!

[2019-04-03 22:59] #612 closed

[2019-04-04 15:27] reverie commented on #52
Thanks! Note that the string method works elsewhere in graphene but not here, you have to use lambda.

[2019-04-05 09:14] gotexis commented on #57
Gj, everyone.

Just a quick question: is there a performance drawback if I simply do a prefetch_related on any FK fields in my model?

[2019-04-05 09:36] gotexis commented on #363
Same here

[2019-04-05 12:33] danpalmer commented on #57
@gotexis

You'd probably be `select_related`'ing your FKs on your model – `prefetch_related` would be for any other models that have an FK to the target model. These will both incur performance hits – `select_related` expands the number of joins that the database needs to perform, and the amount of data that the database needs to return to the Django app. `prefetch_related` increases the number of

[2019-04-05 21:11] thejcannon opened #614 "Considering sharing implementation with graphene-sqlalchemy"
See [graphene-sqlalchemy/#202](https://github.com/graphql-python/graphene-sqlalchemy/issues/202)

[2019-04-06 16:59] reverie commented on #133
This is a poor design decision with an easy fix. PR submitted.

[2019-04-08 12:39] artinnok opened #616 "Is it possible to use AsyncExecutor?"
Hello!

How can I use AsyncExecutor with **graphene-django?**

I try this setup:
[code]
But this didn't work.
What is wrong?

[2019-04-08 18:58] jbovenschen commented on #606
As pointed out by @x9sheikh the GraphiQL is a really bare bones graphql interface.

I think the best way forward is to replace the GraphiQL web interface with [graphql-playground](https://github.com/prisma/graphql-playground) which does support more configuration options.

[2019-04-08 19:04] jbovenschen commented on #616
If I understand this question correctly, you are trying to implement asynchronous code within the default Django resolver. This is not supported within Django itself as far as I know.

What we did to resolve asynchronous execution of graphql resolvers / subscriptions is to use the django-channels package in combination with apollo-client.

More info can be found here https://github.com/graphql-pyt

[2019-04-09 06:31] anudeepsamaiya commented on #465
@joychen they will be like standard django tests only. Just pass the query or mutation string as data.
[code]

[2019-04-09 07:14] artinnok commented on #616
@jbovenschen thanks!

Do you have working example with **AsyncExecutor**?

[2019-04-09 15:09] jvmaia commented on #607
did you open the PR?
I got the same error while trying to use that

[2019-04-11 03:22] gotexis commented on #327
What's the progress on this 2 year old issue? it seem to still affect me, as I cannot seem to put prefetch_related to work at all.

[2019-04-11 03:26] gotexis commented on #429
@maarcingebala
Hey are you still using this solution which means it's not fixed as of now?

What about if I were using DjangoFilterConnectionField? Is it also OK?

[2019-04-11 04:01] japrogramer commented on #327
@gotexis im adding an attribute to each object in my queryset that is actually the prefetched models.
than in the connections edge
i add a field and a resolver to get that prefetched object into the field in the graph.

the issue is in the `relay.ConnectionField` s
[code]

it seems that resolved is falsed, and that leads to some logic that causes the db to be hit again.

[2019-04-11 10:56] ambientlight commented on #353
wonder if https://github.com/graphql-python/graphql-ws/issues/8#issuecomment-482062178 helps

[2019-04-11 23:29] japrogramer commented on #327
I think this line in the django connection resolver that combines the queryset provided
with a default_manager for the model is too blame.

https://github.com/graphql-python/graphene-django/blob/master/graphene_django/fields.py#L90

[2019-04-13 00:16] defiler commented on #423
But who stops you from using

[code]

in a subclass ?

[2019-04-13 11:06] MarkoKauzlaric opened #617 "Update/Create Mutation question"
Hey guys,

I'm struggling to find a good example or best practice to create an elegant way for update/create mutations for related models.

Let say you have a model Address with OneToOne relation with (City, State, Zipcode)
[code]

How would you create a mutation in a elegant way that can accept query like:
[code]

[2019-04-15 11:33] ulkoart opened #618 "How to provide an argument from DjangoFilterConnectionField to a node"
[code]

[2019-04-15 20:41] #617 closed

[2019-04-16 01:23] mattychen commented on #547
In your class definition:

[code]

https://github.com/graphql-python/graphene-django/issues/349

[2019-04-17 01:58] kimbriancanavan opened #620 "404 on GraphiQL static file"
`static/` doesn't appear to be included in the `MANIFEST.in` file. This is causing my graphiql page to not load due to a 404 on `graphiql.js`. Am I missing something here?  I'd be happy to put together a PR with this line added to `MANIFEST.in`:
[code]

[2019-04-17 19:44] zbyte64 commented on #618
`userId` would be passed as a keyword argument to the resolve function like so:

[code]

[2019-04-18 09:11] dspacejs commented on #474
Has anyone found a solution for this? I have the latest version of `graphene-django` (2.2.0) but it's still not working.

[2019-04-21 15:03] GasimGasimzada commented on #185
I have also had this issue and @denis-ryzhkov explanation helped me resolve the issue. I have a model `Organization` with field `type` with choices in it. For schema I had the following:

[code]

As a result, I was getting:

After reading through this, I just changed the class name to `OrganizationGQLType`. Now, everyhing works as expected. If this decision is not going to be changed, I think it w

[2019-04-25 16:05] phalt commented on #620
Hey @kimbriancanavan - thanks for bringing attention to this.

We already have a PR for this - https://github.com/graphql-python/graphene-django/pull/601

So closing this ticket.

[2019-04-25 16:05] #620 closed

[2019-04-25 16:12] phalt commented on #618
Hey @ulkoart - @zbyte64 is correct! your `resolve_*` method will receive all the kwargs, you can also define it like so:

[code]

As this issue is resolved, I am closing it.

[2019-04-25 16:12] #618 closed

[2019-04-25 16:16] phalt commented on #607
Hey @monokrome - are you able to provide us with some code examples to help debug the issue better?

[2019-04-25 16:18] #595 closed

[2019-04-25 16:18] phalt commented on #595
Closing as resolved.

[2019-04-25 16:20] phalt commented on #594
@zbyte64 @zbyte64 can we close this? Archived issues can still be searched.

[2019-04-25 16:24] phalt commented on #583
Hey @yoelvys - it looks like @louisdvs is providing the correct solution. Closing as resolved.

[2019-04-25 16:24] #583 closed

[2019-04-25 16:25] phalt commented on #574
@ganeshsingamaneni can you provide examples of your models so we can help?

[2019-04-25 16:26] #573 closed

[2019-04-25 16:26] #569 closed

[2019-04-25 16:27] phalt commented on #564
Hey @reverie - this could be a side-effect of the camel casing that graphene does to key names?

[2019-04-25 16:27] #557 closed

[2019-04-25 16:30] #63 closed

[2019-04-25 19:23] reverie commented on #564
@phalt No, it happens to the whole value on all `CharField`s that have a `choices` parameter.

[2019-04-25 22:49] javierdaza opened #621 "Received incompatible instance"
Hi,

`I am trying to make: query { getNeighborhoodsAround(postalCode:2600, countryCode:"AU", distance:2) { name } }`

[code]

This method runs a Mongo query that should bring all the data. It works in the Mongo shell but not with Graphene.

The response I get is:

[code]

Any suggestions?

[2019-04-26 08:03] phalt commented on #621
Hey @javierdaza - it looks like you're trying to return something from `db.ingredients_neighborhood.aggregate` that can't be mapped back to whatever your `DjangoObjectType` is - I'd suggest returning an instance of whatever your `DjangoObjectType` instead.

[2019-04-26 08:07] phalt commented on #564
@reverie can you provide a code example to help us debug the issue?

[2019-04-26 08:37] aindong commented on #185
I also encountered the same error and renaming the field `type` into something fixed my problem

[2019-04-26 08:38] phalt commented on #582
Needs a bit more information @kevinzDzul - have you tried to do this already with graphQL mutations?

[2019-04-26 08:40] phalt commented on #577
Discussion is focusing on #67 so closing this to avoid duplicate conversations.

[2019-04-26 08:40] #577 closed

[2019-04-26 08:40] phalt commented on #133
Discussion is focusing on #67 so closing this to avoid duplicate conversations.

[2019-04-26 08:40] #133 closed

[2019-04-26 08:41] phalt commented on #280
Discussion is focusing on #67 so closing this to avoid duplicate conversations.

[2019-04-26 08:41] #280 closed

[2019-04-26 09:12] phalt commented on #564
Duplicate of #67

[2019-04-26 09:12] #564 closed

[2019-04-26 11:02] phalt commented on #185
It's generally not a good idea to use this as a variable name in Python, as you're overwriting the built-in `type` keyword. So this isn't documented in this package because it's probably more of a Python gotcha?

[2019-04-26 11:06] phalt commented on #548
Closing as resolved, adding as a potential docs enhancement

[2019-04-26 11:10] #547 closed

[2019-04-26 11:14] phalt commented on #500
@toolness @peterlandry contributions welcome, I think having sensible defaults for the project settings will help.

[2019-04-26 11:16] phalt commented on #473
Closing as @tricoder42 solution should work.

[2019-04-26 11:16] #473 closed

[2019-04-26 12:26] phalt commented on #444
Hey @marcelombc - can you give an example of what isn't working? We can update the docs to reflect the correct changes.

[2019-04-26 12:27] phalt commented on #430
@mistGit Closing due to inactivity.

[2019-04-26 12:27] #430 closed

[2019-04-26 12:28] phalt commented on #426
As 2.1.0 is now released, closing.

[2019-04-26 12:28] #426 closed

[2019-04-26 12:28] phalt commented on #425
@danaronson did you resolve this issue?

[2019-04-26 12:29] #411 closed

[2019-04-26 12:30] phalt commented on #407
`DjangoFilterConnectionField` should resolve this for you.

[2019-04-26 12:30] #407 closed

[2019-04-26 12:57] phalt commented on #370
If it is based on django-debug-toolbar, it is almost certainly not safe for prod as you could expose security details. But if you really want to do it, you can do it here: https://stackoverflow.com/questions/28226940/django-debug-toolbar-wont-display-from-production-server

[2019-04-26 12:57] #370 closed

[2019-04-26 12:59] phalt commented on #355
The best way is to overwrite the `resolve_*` method as @urbandove suggested. Closing as resolved.

[2019-04-26 12:59] #355 closed

[2019-04-26 13:00] phalt commented on #346
Duplicate of #319

[2019-04-26 13:00] #346 closed

[2019-04-26 13:01] #329 closed

[2019-04-26 13:02] #291 closed

[2019-04-26 13:03] phalt commented on #268
Duplicate of discussion at #79

[2019-04-26 13:03] #268 closed

[2019-04-27 16:35] #602 closed

[2019-04-27 16:54] mvanlonden commented on #67
I like the simplicity of https://github.com/graphql-python/graphene-django/pull/209 but don't like that it relies on another dependency and requires changes in the model layer.

What about leaving the default behavior but providing a field arg so you can pass in a mapped override?

[code]

[2019-04-27 16:56] mvanlonden commented on #67
I like the simplicity of https://github.com/graphql-python/graphene-django/pull/209 but don't like that it relies on another dependency and requires changes in the model layer.

What about leaving the default behavior but providing a field arg so you can pass in a mapped override?

[code]

[2019-04-27 16:57] mvanlonden commented on #67
I like the simplicity of https://github.com/graphql-python/graphene-django/pull/209 but don't like that it relies on another dependency and requires changes in the model layer.

What about leaving the default behavior but providing a field arg so you can pass in a mapped override?

[code]

[2019-04-27 17:16] mvanlonden commented on #67
I like the simplicity of https://github.com/graphql-python/graphene-django/pull/209 but don't like that it relies on another dependency and requires changes in the model layer.

After reading the various proposals, I think a hybrid approach might work.
- Leave or improve the default enum conversion to cover most use cases. Custom enum mapping can be defined in a field's resolver
- Provide a `Meta`

[2019-04-29 10:52] denis-ryzhkov commented on #185
There is a difference between [reserved keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords) that cannot be used as identifiers vs [built-in identifiers](https://docs.python.org/3/library/builtins.html) that are always available (either without import or via `builtins` module)

Both `type` and `id` are examples of built-in identifiers, and `id` is widely shadowed, e.g. in

[2019-04-29 10:56] phalt commented on #185
I mixed them up, woops!

I appreciate this hasn't been looked at yet. I'm a new collaborator to this project, I'll see what I can do to make sure this bug is added to a list of top priority things.

[2019-04-29 12:17] denis-ryzhkov commented on #67
Please add one more step to the hybrid approach above:
* Provide a [setting](https://docs.djangoproject.com/en/2.2/topics/settings/) `GRAPHENE_DISABLE_ENUM_CONVERSION` being `False` by default for backward compatibility. When set to `True`, it will save a user from a lot of boilerplate code and effort of setting `Meta.disable_enum_conversion` lists and keeping them updated

[2019-04-29 13:48] phalt commented on #582
Check out: https://docs.graphene-python.org/en/latest/relay/mutations/#accepting-files

[2019-04-29 13:48] #582 closed

[2019-04-29 15:21] leiwu123 commented on #494
thanks for posting solution. I'd been looking for the solution to the same problem. But Im wondering if this is the only solution to the problem. Is there not a more elegant way to do it?

[2019-04-29 19:18] mvanlonden commented on #67
@denis-ryzhkov updated the original post—removed the list approach and replaced with the global setting. Custom resolvers can be used instead of `Meta` config list.

[2019-04-30 12:35] phalt commented on #461
Could we use the `get_queryset` method that has now been added to DjangoObjectTypes?

[2019-04-30 12:36] #451 closed

[2019-04-30 12:38] #415 closed

[2019-04-30 12:52] phalt commented on #275
By inspecting the exception you should be able to see your errors?

[2019-04-30 12:52] #275 closed

[2019-04-30 13:42] pedromtorres commented on #77
You can use the following code:
[code]

[2019-04-30 14:25] phalt commented on #77
@pedromtorres good spot, you can do this. I think I will tag this for documentation improvement based on @blakegong 's excellent response and his quote:

[2019-05-01 23:42] javierdaza commented on #621
Thank you @phalt that was the issue. I was using a Point value that wasn't mapped.
Is there anything I can do to make this error message more explicit?

[2019-05-02 16:42] phalt commented on #621
There could be better error messages for this, but I don't think it's something you should expect to see in production, it's more of a development issue. Do you have suggestions on what type of error you should see?

[2019-05-03 01:24] japrogramer commented on #616
@artinnok  like @jbovenschen  said in the link to the issue i have this example
https://github.com/graphql-python/graphene/issues/430#issuecomment-479364746

[2019-05-03 16:13] #175 closed

[2019-05-03 16:14] phalt commented on #89
Closing as would be resolved by #435

[2019-05-03 16:14] #89 closed

[2019-05-03 16:16] phalt commented on #129
Can you just subclass a generic `ObjectType` with your default?

[2019-05-03 16:18] phalt commented on #130
Can we check this is still an issue? Issue is 2 years old and we've made some releases since then.

[2019-05-03 16:19] #140 closed

[2019-05-03 16:20] #152 closed

[2019-05-03 17:49] phalt commented on #162
This should have been released now so closing.

[2019-05-03 17:49] #162 closed

[2019-05-03 17:51] #191 closed

[2019-05-03 17:53] phalt commented on #206
Currently rewriting the docs, so we can make sure we cover this there.

[2019-05-03 17:58] phalt commented on #274
How shall we take this issue forward? Should we document graphene-django-extras in the official graphene-docs?

[2019-05-03 18:03] #320 closed

[2019-05-04 00:37] HashRocketSyntax commented on #442
Has anyone solved this graphene-neomodel compatibility? I'm refactoring from scratch and would not like to implement REST.

[2019-05-05 15:45] phalt commented on #408
Fixed.

[2019-05-05 15:45] #408 closed

[2019-05-05 17:21] vsoch opened #625 "Generic relationship type"
I've used django quite a bit, and am hoping to check out graphene-django as an introduction to using Graphene. The graph I'm starting with is based on schema.org, which means that a relationship can be of one or more types. I looked quickly through some of the example models but I didn't see how to easily do this. Does graphene-django have some integration / something that looks like the [django g

[2019-05-05 19:22] igo opened #626 "Logging exceptions with callstack"
Seems if exception occurs in some resolve function I cannot see in logs what actually went wrong. All I got is this message in logs:
[code]
It would be very useful to see real error message with callstack. Setting Django log level does not help.

[2019-05-06 11:06] phalt commented on #625
Hi @vsoch thanks for the question. I am not sure graphene-django currently supports something like this out of the box, but you can use a resolver to get the same effect:

[code]

Hope that leads you in the right direction.

[2019-05-06 11:06] #625 closed

[2019-05-06 11:08] phalt commented on #626
Hi @igo thanks for reaching out.

This is a known problem and it's actually an issue with graphene itself. The schema eats up exceptions. There is currently a very large effort to move graphene on [graphql-core-next](https://github.com/graphql-python/graphql-core-next) and support this. For now it's not possible.

I have written a small plugin to make exceptions raise to sentry, see [here](https:/

[2019-05-06 11:08] #626 closed

[2019-05-06 11:09] phalt commented on #252
The small plugin [graphene-django-sentry](https://github.com/phalt/graphene-django-sentry/blob/master/graphene_django_sentry/views.py) has an example where it captures errors before returning, I'd suggest looking at that and adapting it for your needs.

[2019-05-06 11:09] #252 closed

[2019-05-06 11:10] phalt commented on #504
The small plugin [graphene-django-sentry](https://github.com/phalt/graphene-django-sentry/blob/master/graphene_django_sentry/views.py) has an example where it captures errors before returning, I'd suggest looking at that and adapting it for your needs.

[2019-05-06 11:10] #504 closed

[2019-05-06 11:10] phalt commented on #621
The small plugin [graphene-django-sentry](https://github.com/phalt/graphene-django-sentry/blob/master/graphene_django_sentry/views.py) has an example where it captures errors before returning, I'd suggest looking at that and adapting it for your needs.

[2019-05-06 11:11] #621 closed

[2019-05-06 14:35] vsoch commented on #625
Thanks @phalt - is the resolved linked to the field just by way of the name? E.g., `resolve_<name>` as a function of class BootType will automatically be use for resolution to the field `<name>`? Would this work for any kind of field, and what is provided by "info" ?

Thanks for your speedy response!

[2019-05-06 23:48] phalt commented on #625
The resolver method maps to the name of the attribute you set on the class, so for example:

[code]

[2019-05-07 02:32] subwindow commented on #67
Any updates on this? Using the monkeypatch for now, but that's really sketchy.

[2019-05-07 03:13] ProjectCheshire commented on #442
I use graphene neomodel in an aiohttp app perfectly fine and have been for the past year+ in production , I believe neomodel does hsve a neomodel django variant https://github.com/neo4j-contrib/django-neomodel

[2019-05-07 13:08] phalt commented on #67
@subwindow we've made no development process on this but it looks like we've agreed on the approach we will take, as @mvanlonden said:

* Improve the default enum conversion to cover most use cases. Remove any custom formatting so the query-mutation round trip is easily accomplished. Custom enum mapping can be defined in a field's resolver (should add an example to the docs).
* Provide a global se

[2019-05-07 17:55] kevinzDzul commented on #582
`class UploadFileMtrs(graphene.Mutation):

    class Input:
        filedata = Upload()

    filedata = Upload
    nameFile = graphene.String()

    @staticmethod
    def mutate(self, info,  filedata=None):
        print(filedata[0])

        date_file = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        date = datetime.datetime.now().strftime("%Y-%m-%d_%H:%M:%S")
        dateplus = dat

[2019-05-07 21:58] Timmerop opened #628 "Cannot import graphene_django.tests.base_test.GraphQLTestCase"
when I pip install or download it directly here https://pypi.org/project/graphene-django/2.2.0/
base_test.py is missing.

[2019-05-07 22:13] phalt commented on #628
@Timmerop just that one file or all tests?

Why are you looking for tests in the pip-installable version of the package?

[2019-05-08 00:16] dopeboy commented on #616
Closing this down since it looks like it reached resolution. Thanks @jbovenschen for your help here.

[2019-05-08 00:16] #616 closed

[2019-05-08 00:22] dopeboy commented on #572
I don't see we can't update this given that 0.11.10 came out close to 1.5 years ago. Adjusting the labels.

[2019-05-08 00:30] dopeboy commented on #471
Let's take this over to #67. Closing this down.

[2019-05-08 00:30] #471 closed

[2019-05-08 00:31] dopeboy commented on #551
@rajkrishnanind, looks like you find a solution per your SO thread. Closing this down.

[2019-05-08 00:31] #551 closed

[2019-05-08 00:33] dopeboy commented on #404
Based on the suggestion of temporary solutions here in this thread and a longterm solution proposed in #417, I'm closing this down.

[2019-05-08 00:33] #404 closed

[2019-05-08 00:36] dopeboy commented on #398
@patrick91, could you tease this out some more? That could help others who (1) have the same idea in mind and (2) want to submit a PR for it.

[2019-05-08 00:37] dopeboy commented on #383
I think we've reached a resolution here. DM if you feel otherwise, happy to reopen if I think there's a case for it.

[2019-05-08 00:37] #383 closed

[2019-05-08 00:40] dopeboy commented on #344
@Eraldo can you share your complete code?

[2019-05-08 00:44] dopeboy commented on #227
@zbyte64, is correct. So long as you've defined your argument to be of type `graphene.UUID()`, that equality test mentioned by @quytang will work. Closing this down.

[2019-05-08 00:44] #227 closed

[2019-05-08 00:55] dopeboy commented on #393
Thanks for filing this issue @trixden. Per your code, graphene is behaving as expected. In your first code snippet, that will return all the tasks _for that project_, not for the current user.

For your second snippet, you're asking graphene to fetch every project in the system and when doing so, every task within every project.

What it seems like you're after is making sure when a user fetches a

[2019-05-08 00:57] dopeboy commented on #256
I see some short term solutions offered here, thank you @yatriks, @spockNinja, and @shifqu. There hasn't been any long term discussion about this so I'm going to close it down for now.

[2019-05-08 00:57] #256 closed

[2019-05-08 01:04] dopeboy commented on #251
Thanks for the report @0xCMP. We're going to punt on this because the team has some bigger fish to fry but we may give it a second look down the line.

And in case it isn't clear, the typo doesn't break functionality because it is decorated by a higher order function - more details [here](https://docs.python.org/3/library/functools.html).

[2019-05-08 01:04] #251 closed

[2019-05-08 01:11] dopeboy commented on #250
Agreed, this could have some positive performance benefits. I'm going to adjust the labels here to get some momentum going for a PR.

[2019-05-08 01:14] dopeboy commented on #235
We're consolidating all file upload issues into #417 - please direct your energy there.

[2019-05-08 01:14] #235 closed

[2019-05-08 01:21] japrogramer commented on #417
I was able to solve this with
https://github.com/lmcgartland/graphene-file-upload

[2019-05-08 01:49] Timmerop commented on #628
I'm trying to use `from graphene_django.tests.base_test import GraphQLTestCase` in my tests

[2019-05-08 05:45] dopeboy commented on #215
Closing this down since it seems we've reached a resolution.

[2019-05-08 05:45] #215 closed

[2019-05-08 05:47] dopeboy commented on #174
Can you give more detail here? Are you trying to construct a query that fetches a single object?

[2019-05-08 05:48] dopeboy commented on #192
Can you provide more detail here? What problem are you trying to solve?

[2019-05-08 05:54] dopeboy commented on #150
Could you setup your own endpoint that then runs this [command](https://github.com/graphql-python/graphene-django/blob/9a43f65b445abe49b9a34ce4b64c6384a3cd666f/graphene_django/tests/test_command.py#L9)

[2019-05-08 05:56] dopeboy commented on #390
I think we've reached some resolution here - closing down.

[2019-05-08 05:56] #390 closed

[2019-05-08 05:59] dopeboy commented on #375
Can you attach some sample code here that would generate this bug?

[2019-05-08 06:00] dopeboy commented on #550
Thanks, @defiler. Did you reach a resolution @flame0?

[2019-05-08 06:05] dopeboy commented on #447
Going to defer to @patrick91's judgement here - closing this one down.

[2019-05-08 06:05] #447 closed

[2019-05-08 06:11] dopeboy commented on #319
Let's take this over to #603, thanks all.

[2019-05-08 06:11] #319 closed

[2019-05-08 06:14] dopeboy commented on #248
This was done thanks to the talented and esteemed @phalt; closing down.

[2019-05-08 06:14] #248 closed

[2019-05-08 06:17] dopeboy commented on #532
Did you reach a satisfactory resolution here @NateScarlet?

[2019-05-08 06:19] dopeboy commented on #507
@phalt are we doing this anywhere? If not, I'll raise my hand to do it. Definitely important.

[2019-05-08 06:22] NateScarlet commented on #532
@dopeboy
I wrote [graphene-django-tools](https://github.com/NateScarlet/graphene-django-tools),
and using  <https://github.com/NateScarlet/graphene-django-tools#mutation> to solve this problem

[2019-05-08 06:25] dopeboy commented on #465
Agreed, there's some room for improvement here @joyhchen. We've made some strides on the docs end and we're going to continue to harmonize it with the cookbook example. I'm going to close this because it is in good-enough-for-now territory but do know we'll continue to improve the docs.

[2019-05-08 06:25] #465 closed

[2019-05-08 06:26] dopeboy commented on #369
Thanks @osartun for the detailed write up.

@zxchew2014, did you find @osartun's solution to work for you?

[2019-05-08 06:29] dopeboy commented on #532
Really appreciate your enthusiasm to improving our community, @NateScarlet. I'll close down this issue since it seems you found (created!) your own solution.

Separately, we'd love to bring your talents into the fold. If there's a feature request / enhancement / bug you feel should be resolved in the main project, please engage us.

[2019-05-08 06:29] #532 closed

[2019-05-08 06:36] dopeboy commented on #207
`LoginRequiredMixin` uses Django's standard authentication features. The rough steps would be:

1. Login using a standard REST endpoint. Get a cookie back.
2. Parse out the CSRF out of the cookie.
3. Pass it as a header in curl probably like [so](https://stackoverflow.com/questions/42441717/how-can-i-make-authenticated-request-to-django-view-from-external-html-using-aja).

Does that help?

[2019-05-08 06:39] dopeboy commented on #396
I'd refer to the previous body of discussion here. Additionally, should you use [django-graphql-jwt](https://github.com/flavors/django-graphql-jwt), it comes with a built in permissions handler done using decorators.

[2019-05-08 06:39] #396 closed

[2019-05-08 06:42] dopeboy commented on #333
I think we've reached a resolution here. Closing it down.

[2019-05-08 06:42] #333 closed

[2019-05-08 06:43] dopeboy commented on #455
Agreed, this is a little sloppy. We're doing a docs refresh and this will be get looked at again. Keeping it open for now so we don't forget.

[2019-05-08 06:44] dopeboy commented on #201
Closing this down because it is out of scope for now. Happy to revisit in the future.

[2019-05-08 06:44] #201 closed

[2019-05-08 07:02] dopeboy commented on #204
Closing this down due to a resolution.

[2019-05-08 07:02] #204 closed

[2019-05-08 08:29] Singletoned commented on #375
I'm not using GraphQL anymore I'm afraid and I'm working for a different company now and don't have access to my old code.  Sorry.

[2019-05-08 08:29] #375 closed

[2019-05-08 13:56] #522 closed, assigned to nobody

[2019-05-08 14:20] phalt commented on #572
Adding to our current project

[2019-05-08 14:50] phalt commented on #507
@danpalmer @dopeboy not yet. We are in the process of setting up a lightweight governance process for the whole of graphene. I will make sure security reporting is added to this.

[2019-05-08 15:48] Siecje opened #629 "ImportError: cannot import name 'DjangoFilterConnectionField'"
I've updated Django to version `2.2.1` but I can't import `from graphene_django.filter import DjangoFilterConnectionField`

[code]

[2019-05-08 15:51] phalt commented on #629
@Siecje you need to update django-filter to be ``django-filter==2.1.0`` otherwise you cannot use DjangoFilterConnectionField.

[2019-05-08 15:52] phalt commented on #629
It works for me with these versions:

[code]

[2019-05-08 17:10] Siecje commented on #629
`ERROR: djangorestframework-filters 0.11.1 has requirement django-filter~=1.1, but you'll have django-filter 2.1.0 which is incompatible.`

Full output
[code]

[2019-05-08 18:00] #629 closed

[2019-05-09 05:41] lucas-bremond commented on #536
Has this issue been addressed already?

[2019-05-09 15:03] phalt commented on #536
@lucas-bremond it looks like #3 references this. Are you still experiencing the issue?

[2019-05-09 21:43] jonbesga commented on #327
Is there already any solution for this?

[2019-05-10 02:06] helloqiu commented on #536
@phalt It seems that #3 has nothing related to this issue. The reference record you see above is a PR to @Hispar own fork.

@lucas-bremond I don't think so.

[2019-05-10 15:21] phalt commented on #536
Thanks for clearing it up @helloqiu - adding this as an accepted change. Feel free to open a PR and contribute!

[2019-05-11 21:15] changeling opened #632 "Documentation Issues"
There seem to be quite a few issues in the docs. Just ran into these:

In http://docs.graphene-python.org/projects/django/en/latest/queries/, under `Full example` at the top:

[code]

Should read:
[code]

At the bottom, again under `Full Example` in the `Relay` section:

[code]

Should read:
[code]

Perhaps this issue (or does one exist already?) would be a good place to encourage folks to post sp

[2019-05-11 21:47] changeling commented on #632
Additionally, the `Relay` section `Full example` seems to indicate that resolvers are not necessary. Is that correct, and I'm completely missing something?

In any case, the example doesn't seem to work unless something like the following, at least, is added:

[code]

The Full example currently reads:
[code]

[2019-05-12 13:48] phalt commented on #632
Hey @changeling thanks for finding these. I am re-writing the docs currently, and the parts you've highlighted are new and clearly missed a thorough review. I'll make a PR when I get back next week (unless you want to!) and we can merge the fixes.

[2019-05-12 18:23] changeling commented on #632
Hey, @phalt, glad to help out. I've submitted a PR with these fixes, with a note regarding the Relay Full example. My resolvers are rudimentary, and should probably be extended a little to implement filtering.

[2019-05-13 00:29] changeling commented on #632
I've added a simple beginning for a FAQ on the graphene page. Se if you think this might be valuable:

https://github.com/graphql-python/graphene/wiki/FAQ

[2019-05-13 04:40] dopeboy commented on #307
Because there's an attached PR here (thanks!), I'm going to close this one down.

[2019-05-13 04:40] #307 closed

[2019-05-13 04:42] dopeboy commented on #240
Closing this issue down because there is hard work (thanks @zbyte64 and @phalt) addressing it.

[2019-05-13 04:42] #240 closed

[2019-05-13 04:43] dopeboy commented on #296
Looks like we reached some resolution here. @lggwettmann we're working hard at improving the docs and we hope our new examples will make this clear.

[2019-05-13 04:43] #296 closed

[2019-05-13 04:44] dopeboy commented on #223
There isn't a way to achieve this right now.

[2019-05-13 04:44] #223 closed

[2019-05-13 04:47] #150 closed

[2019-05-13 04:49] dopeboy commented on #425
Closing this down due to inactivity.

[2019-05-13 04:49] #425 closed

[2019-05-13 04:50] dopeboy commented on #552
Can you provide some starter code here to help us?

[2019-05-13 04:50] dopeboy commented on #192
Closing this due to inactivity.

[2019-05-13 04:50] #192 closed

[2019-05-13 04:51] dopeboy commented on #293
Closing this down as I see we have a PR out of it (thanks @ktosiek!).

[2019-05-13 04:51] #293 closed

[2019-05-13 04:52] dopeboy commented on #458
@sks-keo, did you reach a solution?

[2019-05-13 04:52] #458 closed

[2019-05-13 04:56] dopeboy commented on #452
@japrogramer, I'm going to close this down since you found a solution. I'd also turn you to #120.

[2019-05-13 04:56] #452 closed

[2019-05-13 04:56] dopeboy commented on #393
Closing this down due to inactivity.

[2019-05-13 04:56] #393 closed

[2019-05-13 04:57] dopeboy commented on #230
Looks like this is more on the knowledge sharing so I'm closing this down. If you feel strongly about the PR, go for it.

[2019-05-13 04:57] #230 closed

[2019-05-13 04:58] dopeboy commented on #174
Closing this down due to inactivity.

[2019-05-13 04:58] #174 closed

[2019-05-13 04:59] dopeboy commented on #351
We're marshaling resources for tighter integration with channels in #120 - I'd redirect you all there.

[2019-05-13 04:59] #351 closed

[2019-05-13 05:04] dopeboy commented on #497
Did you reach a resolution here @SaltyQuetzals?

[2019-05-13 05:04] dopeboy commented on #398
Closing this down due to inactivity.

[2019-05-13 05:04] #398 closed

[2019-05-13 05:05] #347 closed

[2019-05-13 05:06] dopeboy commented on #444
Closing this down due to inactivity.

[2019-05-13 05:06] #444 closed

[2019-05-13 06:59] Rofltropter opened #634 "Unknown Argument ValueError Issue - Unable to Diagnose Cause"
I've been having issues with one of my passed mutation arguments that keeps triggering the middleware exception leak checker on graphiql interface load. Migrations and server start are just fine, but loading the url for the interface delivers a "_ValueError at /graphql/ Unknown argument "assignee"._ " error about.

The following are the directly relevant code snippets.

So I've build a "chores" mo

[2019-05-13 07:04] Rofltropter commented on #634
Update:

Removing the "assignee" value causes "creator" to error out with the same catch, then "deadline" if "creator" is removed, moving upwards in alphabetical order.

[2019-05-13 14:47] changeling commented on #363
@a3ammar, @phalt  Can this Issue be re-opened? Or at least have a link or actual solution posted here? It may be a simple answer, but it is worth addressing.

[2019-05-13 17:10] zbyte64 commented on #552
DjangoFormMuation has a method: `def get_form_kwargs(cls, root, info, **input)` ; this is what you want to override, have it return a dictionary with the desired keyword arguments to be passed to the form init.

[2019-05-13 17:11] #552 closed

[2019-05-13 17:12] #628 closed

[2019-05-13 17:17] changeling commented on #497
@SaltyQuetzals, can you provide an example of showing roughly what you wish to do?

Does this help?:
https://github.com/graphql-python/graphene/wiki/FAQ

[2019-05-13 17:24] phalt commented on #632
@changeling are you able to edit this now?

https://github.com/graphql-python/graphene-django/wiki

[2019-05-13 17:25] phalt commented on #634
@Rofltropter can you please share your graphQL mutation query that you're using to trigger these errors?

[2019-05-13 17:28] phalt commented on #628
@Timmerop there is a fix in #631 for this now, we will publish the fix in release 2.3 - if you need it sooner then download this commit directly :)

[2019-05-13 17:34] changeling opened #636 "How would one implement totalCount or count on DjangoFilterConnectionField?"
With `Connection`, one can implement a `count` on `edges` like so:
[code]
Given that `DjangoFilterConnectionField` won't accept a `Connection`, but requires a `DjangoObjectType`, how would one implement an equivalent `count`?

[2019-05-13 17:37] changeling commented on #632
@phalt, yep! Thanks! Any thoughts on this approach?

[2019-05-13 17:39] phalt commented on #632
@changeling organically adding stuff there that can't be added to docs is something I'm okay with. Wikis are meant to be fluid. And anything we really like we can solidify into the official docs.

[2019-05-13 17:42] phalt commented on #636
Could you subclass `DjangoFilterConnectionField`?

[2019-05-13 17:43] phalt commented on #636
Also, look at relay connections and pagination. You might be able to get your answer there.

[2019-05-13 18:06] Timmerop commented on #628
Thanks for making the fix!

[2019-05-13 19:07] changeling commented on #632
Great. I'm a fan of 'em. It also allows a broader community to point out issues they struggle with, and solutions found. In my experience, this tends to evolve them towards best practices.

That's exactly my thinking.

[2019-05-13 19:09] changeling commented on #632
Though I spoke to soon. I had checked that the wiki was now active, but didn't check for open editing. I see your initial page, but editing is still disabled. Apologies for the incomplete test, as it were.

[2019-05-13 19:37] Rofltropter commented on #634
@phalt
No singular graphQL mutation is used. The error occurs upon attempting to load the Graphiql interface at http://localhost:8000/graphql on the applicable URL, and this particular mutation schema fails to pass the
` ` `
try:
      response = get_response(request)
[code]

[2019-05-13 19:38] Rofltropter commented on #634
If you need more data, you can check out the full project specifications here: https://github.com/Rofltropter/TheBenchV2-GraphQL/tree/master/TheBenchBackend/theBenchBackend

[2019-05-13 20:39] changeling commented on #636
@phalt, any pointers? I'm going through issues and docs across graphene and graphene-django, and there seems to be some confusion regarding a best practice approach here. This is another item I'll add to the FAQ when I get my head around, as I said, best practice. It's trivial to implement using `Connection` and `ConnectionField`, but `DjangoFilterConnectionField` is proving to be a bear.

[2019-05-14 00:15] changeling commented on #636
Got it. I'll add this to the wiki FAQ once editing is enabled. Turns out the trick is to subclass `Connection` and declare that as a `connection_class` on the node type. `DjangoFilterConnectionField` then uses that declared `connection_class` class seamlessly, like so:

[code]

This allows, in my example here, querying:
[code]

Which returns:
[code]

[2019-05-14 00:21] changeling commented on #320
For future reference, see if this solution fits your needs:
https://github.com/graphql-python/graphene-django/issues/636#issuecomment-492031448

[2019-05-14 11:34] a3ammar commented on #363
@p02diada @gotexis @changeling I closed the issue because there was no response from the maintainer. I solved the issue with something similar to this:

[code]

You can define your filter fields like what I did with `search`.

[2019-05-14 12:24] Eraldo opened #637 "Optional `Char` fields with choices convert to required enum."
I ran into this closed issue and it still seems to be an issue:
https://github.com/graphql-python/graphene-django/pull/525#issuecomment-431182216

Related:
https://github.com/graphql-python/graphene-django/issues/503
https://github.com/graphql-python/graphene-django/issues/67

I found this like to be the hinge:
https://github.com/graphql-python/graphene-django/blob/dc561c68c49d1a91637503f765857d81

[2019-05-14 16:55] changeling commented on #363
@a3ammar Thanks for adding this! I solved it with something similar, but using `DjangoFilterConnectionField`, here:

https://github.com/graphql-python/graphene-django/issues/636

[2019-05-14 22:12] changeling opened #638 "DjangoFilterConnectionField and filter_set issues."
`DjangoFilterConnectionField` has some issues specific to `id` handling, and in general with handling incorrect data. This query illustrates some of the aberrant behavior:

[code]

These tests were performed using just the basics, with the exception of `ExtendedConnection` rather than simply `Connection` to include `totalCount` and `edgesCount` in the results. The tests behave identically, and wer

[2019-05-15 10:06] phalt commented on #638
@changeling can you share the graphQL query you're making?

[2019-05-15 10:07] phalt commented on #363
Let's add this to the wiki as a work-around.

[2019-05-15 10:07] #363 closed

[2019-05-15 10:09] #572 closed

[2019-05-15 10:10] phalt commented on #632
@changeling working on it, I _should_ have admin rights for the project so let me try sort it.

[2019-05-15 10:12] phalt commented on #632
@changeling sorted, go wild! (with moderation 😆 )

[2019-05-15 10:12] #632 closed

[2019-05-15 10:13] phalt commented on #636
@changeling sorry I was being a bad contributor and replying on my phone. Your suggestion is great - wiki is now open :)

[2019-05-15 10:39] defiler commented on #61
@dspacejs You can put the query with that resolver in another scheme and provide another csrf-exempted view with that scheme.

[2019-05-15 10:41] Zorig opened #640 "Name "__debug" must not begin with "__", In a future release of graphql this will become a hard error."
it's popped from graphiql `graphiql.min.js:1 Name "__debug" must not begin with "__", which is reserved by GraphQL introspection. In a future release of graphql this will become a hard error.`

[2019-05-15 10:42] phalt commented on #640
Adding to the current project so we can resolve this.

[2019-05-15 13:55] changeling commented on #638
@phalt I'm not sure what you mean. The tests at the top _are_ the query I'm making, as I understand the term, but I'll gladly share anything else I'm using here.

[2019-05-15 14:01] phalt commented on #638
Sorry the formatting was very different from what I'm used to seeing with graphQL

[2019-05-15 14:44] changeling commented on #638
Be grateful I didn't reformat the results! ;D

Phew, that's a relief. I had a brief moment wondering if I'd misunderstood the term `query` here all this time. :} I'm sure all my aliasing up there didn't help.

[2019-05-15 15:18] changeling commented on #363
When I get some time, I'll play around with it to see what needs fixing, but as is, I get:

[code]

Perhaps this is implemented with an earlier graphene or graphene-django?

[2019-05-15 15:19] phalt commented on #363
That error will be from the graphene core library, not graphene-django

[2019-05-15 15:30] changeling commented on #632
Great! Going wild(-ish)!

[2019-05-15 17:00] changeling commented on #636
No worries! I'll see about adding this as well.

[2019-05-15 18:10] changeling commented on #636
Added.

[2019-05-15 21:47] changeling commented on #358
This should be fixed now with https://github.com/graphql-python/graphene-django/pull/641.

[2019-05-16 01:08] ProjectCheshire commented on #634
Err are there commas after each of your arguments?

[2019-05-16 01:09] ProjectCheshire commented on #634
I don't think that's valid python for a class declaration iirc? Unless I'm completely missing it. I usually only see commas when in the interfaces = (thing, other thing,)

[2019-05-16 01:19] changeling commented on #634
What @ProjectCheshire said. The trailing comma bit works in a JSON structure, or to denote a tuple, but in this case, I'd first address those and see what you get.

[2019-05-16 04:26] changeling commented on #634
I forked your project to take a look, and there are quite a few python issues. The comma thing, for one. You need to do some cleanup of those before you can get to the graphene issues.

For one example, instead of:

[code]

This should look something like:
[code]

For another example, in some places,  graphene.Boolean is being assigned as:

`something = graphene.Boolean`

and in others:

`somethin

[2019-05-16 05:15] changeling commented on #634
I took another look, and there are _actually_ two types named ResourceCreateInput, one in `resources/schema.py` and one in `chores/schema.py`.

I renamed one to `ResourceCreateInputType` and now your project loads, with `graphiql` opening, so it all looks good.

Added the change to my PR on your repository. Cheers!

[2019-05-16 05:21] changeling commented on #634
I took another look, and there are _actually_ two types named ResourceCreateInput, one in `resources/schema.py` and one in `chores/schema.py`.

I renamed one to `ResourceCreateInputType` and now your project loads, with `graphiql` opening, so it all looks good.

Added the change to my PR on your repository. Cheers!

[2019-05-16 08:08] #636 closed

[2019-05-16 08:08] #358 closed

[2019-05-16 18:13] changeling opened #643 "Standardize relay import statements in documentation."
Just a pointer to this issue to make sure it's considered here re: docs refresh work:

https://github.com/graphql-python/graphene/issues/967

[2019-05-17 11:53] ProjectCheshire commented on #634
@changeling well done / thank you for helping out!

[2019-05-17 15:29] mohamedrez commented on #57
I found this PR on Sailor https://github.com/mirumee/saleor/pull/2983/files,
It might be useful, however is there any plan of having this supported by default ?

I personally tried `graphene-django-optimizer` and it does not solve all the problems for example:
no way of prefetching when having a nested FK that has a nested reverse FK

[2019-05-17 18:26] Rofltropter commented on #634
@changeling Thanks man! I didn't catch that at all. I've been slowly shifting back into Python after working in a Java environment for sometime so I totally missed that comma issue.

 In terms of the .Boolean vs .Boolean(), I believe there is no actual difference in terms of execution, but rather the declarations that contained () may have previously had additional arguments piped in (like require

[2019-05-17 18:26] #634 closed

[2019-05-19 16:26] igo opened #644 "DjangoModelFormMutation does not validate empty Date"
When passing empty string to date field, its not correctly validated and returned as validation error.

[code]

[code]
[code]
Returns
[code]
Would expect to return correct validation error like this:
[code]

[2019-05-19 18:37] zeeshanaligold opened #645 "Received incompatible instance "rating__avg"."
trying to get average rating of each movie.
`Rating.objects.filter(movie_id=movieId).aggregate(avg_rating=Avg('rating'))`

here is the my rating model

[code]

[2019-05-19 19:29] zeeshanaligold commented on #645
Rating resolve
[code]

[2019-05-20 07:59] phalt commented on #644
@igo have you tried to see if `required=False` works, or considered passing in a string type and converting it to a datetime after?

[2019-05-20 08:09] dulmandakh commented on #640
@phalt what is your proposition about solution? _debug or anything else?

[2019-05-20 09:26] phalt commented on #640
@dulmandakh I don't have a solution yet myself, I'm moving it to the improvements project so we can focus on it. Do you have a suggestion?

[2019-05-20 09:55] dulmandakh commented on #640
@phalt create a PR, please see https://github.com/graphql-python/graphene-django/pull/646

[2019-05-20 10:23] #640 closed

[2019-05-20 23:22] amarkezic commented on #542
@SN9NV I found the source of the problem
https://github.com/carltongibson/django-filter/issues/1078

[2019-05-21 08:17] phalt commented on #542
I believe this is an issue with django-filter and not graphene-django. Can we close this?

[2019-05-22 04:24] dulmandakh opened #648 "release 2.3.0"
it's been a while since v2.2.0, and how about releasing v2.3.0 soon. Are there any blocking issues or planned features?

I've installed graphene-django from pip, and most documentations didn't work due to version difference. Now I use it from master, and it works quite well for me. Also looking at releases I got an impression that the project is dead or abandoned. So it might be time for another r

[2019-05-22 07:49] phalt commented on #648
Hey @dulmandakh - I don't have the necessary permissions to do a pypi release, but I have drafted the release notes here: https://github.com/graphql-python/graphene-django/releases/tag/untagged-1a312685cdd9b5b277f8

The Graphene community is having a meeting on 31st May to discuss the organisation of the project, I hope we can automate releases or get an outcome on giving projects a bit more auton

[2019-05-22 08:14] dulmandakh commented on #648
Thank you for the response. I would like to see more automation and frequent releases as a graphene-django user, and I think most users will agree with me. Also I plan to be active in the community doing reviews and PRs when possible.

So it might be best to publish a version to pypi for each version tag, and tag is handled by you or community members.

FYI, release notes link is not working.

[2019-05-22 16:16] dopeboy commented on #606
@phalt Are we OK to close this? I think we should - there's easy to install alternatives and it's critical to the project. Maybe we can make a mental note to comb this in the future when we're ready to take on nice-to-have's?

[2019-05-22 16:17] dopeboy commented on #344
Closing this down due to inactivity.

[2019-05-22 16:17] #344 closed

[2019-05-22 16:19] dopeboy commented on #131
@antonkhelou - is this resolved now?

[2019-05-22 16:19] dopeboy commented on #207
Closing this down due to inactivity.

[2019-05-22 16:19] #207 closed

[2019-05-22 20:53] rpkilby commented on #542
This is an issue in graphene-django, although django-filter's docs should be updated to discuss error handling. The short version is that the view should determine how to handle errors, checking whether the `filterset.is_valid()` and then what to do with the `filterset.errors`. Note that this is basically the same API as Django forms, which are used internally.

[2019-05-22 22:35] Destroy666x commented on #67
There's also an issue with enum fields containing non-English letters and throwing an error. I guess just disabling the conversion overall would be fine

[2019-05-23 08:02] phalt commented on #606
@dopeboy yep.

[2019-05-23 08:02] #606 closed

[2019-05-23 08:02] #131 closed

[2019-05-23 08:03] phalt commented on #542
@rpkilby can you point me to the area in the code that is causing this bug so we can triage this issue?

[2019-05-23 16:36] dopeboy commented on #253
@amille44420 were you able to try v2?

[2019-05-23 17:06] rpkilby commented on #542
I'm not that familiar with graphene-django, but the below is where the filterset is created and called:
https://github.com/graphql-python/graphene-django/blob/dc561c68c49d1a91637503f765857d819c36769a/graphene_django/filter/fields.py#L92-L96

Does it make sense for `DjangoFilterConnectionField.connection_resolver` to raise validation errors?

[2019-05-24 03:56] robertpro opened #649 "Filtering using Django Integer Choices"
Hey guys, I am a real noob with GraphQL, but I think I found a bug, I am trying to filter using an integer choice, below you will see the definitions:

*models.py*
[code]

*schema.py*
[code]

If I query using `name`, `name__in`, etc it works, but when I try to filter by `kind__in` it says I need an `Float` which is wrong.

Please note the Float there:
![image](https://user-images.githubusercontent

[2019-05-24 16:42] zbyte64 commented on #649
Try removing the quotes in `kind_In: "1"`

[2019-05-24 16:58] zbyte64 commented on #542
@rpkilby I think it makes sense.

[2019-05-24 17:15] robertpro commented on #649
@zbyte64 thank you for checking my issue, that does not work either :(

[code]

Result:
[code]

This is the error on the console:

[code]

Which makes sense, it is *really* expecting a string, not a Float

For extra information, when I was debugging I realized that the exception was raised [here](https://github.com/carltongibson/django-filter/blob/1f47e36b614724a8735e0457fa511dcaf5448481/django_fi

[2019-05-24 19:40] zbyte64 commented on #649
Ahh, then try: `kind_In: [1]`
It needs to be a list of numbers.

[2019-05-24 19:45] robertpro commented on #649
Unfortunately that is not working either:
![image](https://user-images.githubusercontent.com/8595170/58352846-6f2a0480-7e32-11e9-8b88-16a15f936773.png)

*Result*

[code]

It still asking for a Float, which I think is the bug

[2019-05-24 19:47] robertpro commented on #649
Same with other tries:
["1", "2"]
["1,2"]

[2019-05-24 19:52] zbyte64 commented on #649
Asking for a Float is definitely not right. Trying to find where that is specified atm. Another thing to try would be: `[1. , 2.]`

[2019-05-24 20:02] zbyte64 commented on #649
My best guess is that `converter.convert_django_file_with_choices` is not properly configuring the type in graphene. What is going on behind the scenes is that specifying a `choices` currently converts the field type to an Enum. Looking at our unit tests, we check for an Enum type but we do not validate the value subtype (I am not sure where that is accessed atm). We should start by writing a spec

[2019-05-24 20:11] robertpro commented on #649
All tries were running without success:

[1., 2.] - Results in:

[code]

[1.0, 2.0] - Results in:

[code]

[2019-05-25 01:19] robertpro commented on #649
This is what I tried:

**test_converter.py** based on this [test](https://github.com/graphql-python/graphene-django/blob/e6ad5887caebf818b0c61d09924c51a9f0f9b406/graphene_django/tests/test_converter.py#L151)
[code]

I couldn't find any place where the type/subtype were `Float`, under [convert_django_field_with_choices](https://github.com/graphql-python/graphene-django/blob/54ef52e1c63f96888df4c23d

[2019-05-25 21:49] changeling opened #650 "Add autodoc-style API reference."
It would be a tremendous boon for this and for all projects within the ecosystem here to add an autodoc API reference to the documentation. For other python libraries, this is, at least for me, the _most_ frequentlly used component of the docs. A PR for this has been submitted in the `graphene` repo, and should be duplicated, IMHO, here.

See https://github.com/graphql-python/graphene/pull/971

[2019-05-25 21:59] changeling commented on #634
Glad I could help! I'm becoming pretty attached to this project, and digging into other folks issues is part of getting my head around it all. :)

[2019-05-25 22:23] changeling commented on #634
@Rofltropter You bet! Happy to help out. And I completely get the language-switching thing. I'm working on getting my head around `react` and continually using python syntax.

It doesn't help that `class` arguments _do_ use the syntax, a la this in the `Relay` tutorial:

[code]

It's an easy trap to fall into.

The `boolean` thing, too, though I'll play with that now for my curiosity.. There _are_

[2019-05-26 09:44] Rofltropter commented on #634
You should check it out in its current state, it's about complete. I'm actually having a bit of a CORS error on the client side with a redirect issue going on. Here's the error I'm getting: "Access to fetch at 'http://localhost:8000/gql' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for

[2019-05-26 09:45] Rofltropter commented on #634
My front-end is a react-apollo setup

[2019-05-26 11:24] igo commented on #644
@phalt tried `required=False`, but it did not help. String would be just a workaround which will make API less semantic

[2019-05-26 19:03] changeling commented on #634
I'll check it out!

I'm not positive, but you may be in luck. I just now solved my own CORS issues. I have _not_ had a chance to test it live, but I've incorporated the changes I made to my own project which solved CORS being a jerk. I've submitted a PR to your project and you can try it out. Let me know if it works for you, but don't see your frontend stuff in the repo, so can't confirm or deny t

[2019-05-26 19:35] changeling commented on #634
Oh, and a **big** caveat here: This is _only_ setting up CORS here, and CSRF consideration is important when you approach deploying to the wild. This is a good local development solution, but before you deploy, be absolutely sure to read up on both CORS and CSRF, and the security implications involved.

[2019-05-26 20:37] changeling commented on #455
I believe this can be closed now, due to the above PR being merged.

[2019-05-28 08:11] anudeepsamaiya commented on #648
@dulmandakh https://github.com/graphql-python/graphene-django/releases/tag/v2.3.0

[2019-05-28 17:14] #455 closed

[2019-05-28 21:54] bastiW commented on #593
@Diggitysc Thanks a lot four your code.

I added a caching functionality for the csrf token. It only calls the /csrf/ api once per session.

[code]

[code]

[2019-05-28 22:26] bastiW commented on #593
Now I also see the problem with calling two gql queries on one page. I get a `403` `CSRF verification failed. Request aborted.`

This happons usually on Firefox and on chrome within the incognito window

[2019-05-29 20:12] bastiW commented on #593
I have ended up sending the csrf request before any rendering is done.

[code]

[code]

[2019-05-29 20:32] Diggitysc commented on #593
@bastiW I think it actually may be handled better via the backend itself cutting the javascript entirely out of the process to avoid the async collision problem and to provide automatic security rather than implemented security.

I have some rough ideas on how to handle this, but I am not a CSRF expert by any stretch. It may be worthwhile to reach out to the csrf.py team from django itself: https:

[2019-05-29 21:07] zbyte64 commented on #649
Looking at this closer after reading: https://docs.graphene-python.org/en/latest/types/enums/

I don't think we can have non-string based enum keys. You might be able to do: `kind_In: ["A_1", "A_2"]` as those are the generated enum keys.

This issue is probably a good example of why enums should be more opt-in.

[2019-05-29 21:30] zbyte64 commented on #649
My recommendation to work around would be to explicitly define `kind`  at the `EventNode` without any enums as a plain integer field. It won't present choices but it would yield a more intuitive querying. Not sure how well that works with django filters though.

[2019-05-30 15:38] categulario opened #651 "Django 1.11.19 used in cookbook example not available in pypi anymore"
Trying to run the cookbook example fails because django 1.11.19 is not available in pypi:

https://pypi.org/project/Django/#history

Perhaps upgrading this exaple's requirements to match the ones of the cookbook-plain would be a good idea? I could do that...

[2019-05-30 15:52] changeling commented on #649
The second issue, returning all records as failure mode, may be related to this issue:

https://github.com/graphql-python/graphene-django/issues/638

[2019-05-30 19:51] changeling opened #653 "ClientMutationID not returned when using `ClientIDMutation` class."
I've been under the impression that `ClientIDMutation` would automagically return a `UUID` unless `client_mutation_id` was included with a value. In fact, I'd swear that it was doing just that, but somewhere in my schema work, or perhaps an upgraded dependency along the way, it's stopped working.

It's entirely possible I've just had a brain-fart and dropped a declaration or assignment somewhere a

[2019-05-31 11:18] Anon731 commented on #274
@eamigo86 i have encountered following bugs, and implemented code to avoid it. Sorry, i'm too lazy to create issues.

<details>
<summary>InputObjectType Bug</summary>

[code]

</details>

<details>
<summary>LimitOffsetGraphqlPagination bug</summary>

[code]

</details>

Also i had to implement mixins to allow specifying custom managers for list types.

[2019-05-31 17:46] zbyte64 commented on #649
Dupe of #67

[2019-05-31 17:46] #649 closed

[2019-05-31 17:47] zbyte64 commented on #67
#654 Is a small improvement for generating Enums with integer fields.

Looks like we need tests with non-english choices.

[2019-06-03 04:54] editkid commented on #386
Would love this feature also. +1

[2019-06-03 06:23] editkid commented on #386
Furthermore, if a ModelSerializer is used and any fields are added to the serializer that don't exist on the model then an `AttributeError` is thrown from `perform_mutate` on this line:
https://github.com/graphql-python/graphene-django/blob/923d8282c771244751d483553e173a15230a84b5/graphene_django/rest_framework/mutation.py#L141

It'd be good to be able to exclude some fields from the output theref

[2019-06-03 19:27] zbyte64 commented on #645
I think you need to unpack the result form `resolve_ratings`. My thinking is you are getting and returning a dictionary when you should return an element from that dictionary. Try:
`return qs.aggregate(Avg('rating'))['rating__avg']`

[2019-06-03 19:34] zbyte64 commented on #644
Not sure I understand fully, are we expecting an empty string to be accepted as an empty value? Does this work with passing `null`?

[2019-06-04 00:02] editkid commented on #569
@phalt this bug is still current AFAIK. Not sure why this has been closed? To confirm, when putting mutations into a Python file separate from the type definitions I need to `import` all the types related to the mutations at the top of the file. Even though I don't use them. Otherwise `AttributeError: 'NoneType' object has no attribute '_meta'` is triggered when running unit tests.

From the point

[2019-06-04 00:06] editkid commented on #569
I've narrowed it down to that I need to `import` _only_ those types that have a relation (`ForeignKey` or `OneToOne`) to another type. Would you like me to provide a simple example to reproduce the issue, would that help?

[2019-06-04 09:43] tamhv commented on #141
i got this issue, i can't use double underscores with ChoiceField from rest framework, always invalid_choice for double underscores choice
[code]

[2019-06-04 18:53] dsun-ge commented on #288
@slavugan I also followed django-cors-headers's instructions and set CORS_ORIGIN_ALLOW_ALL = True.
And OPTIONS http://my-django-graphene-site/admin returns "access-control-allow-origin →*". However, OPTIONS http://my-django-graphene-site/graphql returns error saying "only POST and GET are allowed", and POST returned no "access-control-allow-origin" header.
Could you show us how you enable OPTIONS

[2019-06-05 21:36] ZikDead commented on #628
why i cant install 2.3.0 version? ...

[2019-06-08 00:02] cowlicks opened #659 "Using a different graphiql.html"
Hi I had a need to use a different graphiql.html document. So I did this:
[code]

It'd be nice if there was an "official" way to do this, so I don't have to worry about my code breaking later.

I suspect other people might need a way to do this too. I needed it to support subscriptions with `subscriptions-transport-ws` and to add some js to refresh auth tokens on the client.

Thanks,

[2019-06-08 14:42] OskarPersson opened #660 "Minimum working example using django-polymorphic"
I'm trying to setup a project using django-polymorphic together with django-polymorphic, what is the minimum working example for this?

I've looked through the following issues and questions but can't get it working with the latest versions of both packages:

* #149
* #276
* https://stackoverflow.com/questions/49562532/django-graphene-how-to-handle-bidirectional-relationship-with-polmorphic-mode

[2019-06-09 14:55] robertpro commented on #648
Looks like it is now on [pypi](https://pypi.org/project/graphene-django/) :)

[2019-06-09 17:51] robertpro opened #662 "OneToOne Relations stop working on 2.3.0"
I just upgraded to graphene-django 2.3.0 and looks like OneToOne field is not being resolved correctly, or at least not as same as 2.2.0

# models.py
[code]

[code]

This Query works on v2.2.0, but fails on v2.3.0:

[code]

I don't really see something about this on release notes, am I missing something?

**EDIT: Add schema.py**

[code]

[2019-06-09 18:18] mvanlonden commented on #662
Thank you for reporting. We're investigating this now.

[2019-06-09 18:48] robertpro commented on #662
@mvanlonden I found the error started showing at this commit:  6acd917cf7076397009d0ba77901f4c1c8e190fe, I went commit by commit, I hope this helps

[2019-06-09 18:56] robertpro commented on #662
@mvanlonden I am using Python3.7, Django 2.2.2

[2019-06-09 21:58] #662 closed

[2019-06-09 22:13] jkimbo commented on #648
Can confirm that v2.3.0 has been released and is available on PyPi.

[2019-06-09 22:13] #648 closed

[2019-06-09 22:28] jkimbo commented on #659
@cowlicks that seems like a fine way to do that! The alternative would be to subclass `GraphQLView` to override the variable or the `render_graphiql` method. Subclassing is a pretty common practice to override behaviours and you shouldn't have to worry about your code breaking. Did you have another suggestion as to how to do it?

[2019-06-09 23:25] #487 closed

[2019-06-09 23:33] #651 closed

[2019-06-11 10:47] abettke commented on #599
https://github.com/graphql-python/graphene-django/pull/603 addresses this issue.

[2019-06-11 10:53] crazyscientist commented on #584
Is nobody else interested in this?

[2019-06-11 12:01] nikolaik commented on #249
Still a good idea!

[2019-06-11 15:11] reverie commented on #516
@mvanlonden But this is ticket #516. As it stands, there's no way to enforce only_fields in graphene. Defaulting to insecure is one thing; preventing people from even making their app secure is another. A simple solution might be to remove the line `delattr(cls, "Meta")` from `SubclassWithMeta`, but I don't know if that would have other unintended consequences.

[2019-06-11 15:16] reverie opened #671 "Feature request: way to require only_fields"
There doesn't seem to be a way to enforce `only_fields` on `DjangoObjectType`s. This is a serious security issue, since fields all default to accessible, including Django's automatically created reverse relation fields.

I tried to introspect this value, but it gets erased at class creation time. We only end up with `MyType._meta.fields`, which is a value computed from several inputs including `on

[2019-06-11 16:22] jkimbo commented on #671
@reverie sorry I'm not sure I understand what you are suggesting. You can define `only_fields` on the Meta class of a `DjangoObjectType` which will limit which model fields get exposed to the schema: http://docs.graphene-python.org/projects/django/en/latest/queries/#only-fields

How would keeping `only_fields` on the meta object mean that you could require it?

[2019-06-11 21:49] reverie commented on #671
@jkimbo I'd like to have something like this at the end of my schema.py:
[code]

[2019-06-11 22:41] reverie commented on #671
I don't claim to understand the reasoning behind graphene's metaclass code, but I'm especially curious about why Meta gets deleted. Is there a good reason for that?

[2019-06-12 01:28] jkimbo commented on #671
Right I get you now. I'm not 100% sure why the Meta class gets deleted either to be honest. I'll raise a PR in the Graphene repo and see if it gets anywhere.

[2019-06-12 01:32] jkimbo commented on #671
@reverie https://github.com/graphql-python/graphene/pull/1007

Also your code above can be a bit cleaner by using the typemap from the schema directly (when the above PR has been merged):

[code]

[2019-06-12 01:50] japrogramer commented on #83
Im not using multiple inheritance
but i am inheriting from the abstract models.Model.
and have no errors.

it seems that where Union
is imported from changed.

[code]

[2019-06-12 02:04] picturedots commented on #503
Hey, bot -- this issue is not fix as far as I know.  Please don't close.

[2019-06-12 07:54] crucialfelix commented on #177
Here is the alternate `DjangoConnectionField` we've been using: https://gist.github.com/crucialfelix/d14506cdb9d3a04427a72aadcad30af4

    This avoids calling len() or .count() on the QuerySet which has very
    poor performance on PostgresQL. The value is only used to determine if there
    is another page.

    NOTE: This does NOT support the GraphQL args "before" or "last"

[2019-06-12 08:36] techdragon commented on #423
I think this should probably stay open since it represents a rather significant limitation that deserves some kind of solution.

[2019-06-12 15:37] #559 closed

[2019-06-12 23:38] robertpro commented on #628
@ZikDead You can do it now, it wasn't released on pypi yet

[2019-06-13 05:12] hiroaki-yamamoto opened #672 "Release 2.3.1 not bump the version"
Hi,

graphene-django 2.3.1 doesn't seem to bump the version (i.e. it's still 2.3.0 on setup.py).
Can you re-make a new release with the bumped version on [graphene_django/__init__.py](https://github.com/graphql-python/graphene-django/blob/ab551f4a15e787fafed8e050cb066b311daae5ed/graphene_django/__init__.py#L4)?

[2019-06-13 09:15] phalt commented on #672
I don't believe 2.3.1 is an official release, I think it was done to fix our publishing mechanism. @mvanlonden might know more.

[2019-06-14 04:29] hiroaki-yamamoto commented on #672
Ok, I see, but (as fyi,) that release has wrong version that should be fixed.

Close this issue if it's not needed...

[2019-06-14 05:05] kamilkijak commented on #556
@BossGrand just a friendly ping to not to let the bot close this issue :-)

[2019-06-14 08:24] phalt commented on #672
I'll wait for confirmation from @mvanlonden

[2019-06-14 14:11] jkimbo commented on #556
@kamilkijak will this PR fix your issue: https://github.com/graphql-python/graphene-django/pull/514 ?

[2019-06-15 02:49] sprhawk opened #675 "Field for Postgres RangeField not work on Django 2.2.x( at least)"
I'm using Django 2.2.x, graphene-django 2.3.0

I use a Postgres DateTimeRangeField, but GraphQL reports error ""User Error: expected iterable, but did not find one for field XXX"

I digged in, and found in `graphql`: `execution/executor.py`
[code]

where result is NonNull, inside is DateTimeTZRange. which is not declared List(DateTime) declared inside graphene-django converter.py
[code]

I want to

[2019-06-15 06:59] amiyatulu opened #676 "How to use throttling in django-graphene?"
How can I throttle a mutation in graphene-django? Is there any package that can be used in graphene-django to throttle a mutation. Want to disable when a mutation is called more than 2 to 3 times if they belong to the same IP address.

[2019-06-15 15:58] jl-DaDar commented on #380
I am facing an issue maybe similar to this one?

I am using model serializer in serializermutation which relies on models' field attributes null=True to determine whether a field is required. This is normally fine for most operation except delete, in which requires me to enter data for all required field when only id is needed.

We really need a way to fix this.

`{
  "errors": [
    {
      "mess

[2019-06-17 07:31] crazyscientist opened #678 "Django integer fields gets transformed to Float?"
On a project of mine I noticed this unexpected behavior:

Using `graphene_django` with `graphene.relay` converts `IntegrierField`s of my models to `graphene.Float` properties in the API, e.g.:

[code]

To be precise, using the `incident` attribute shows the `incidentId` to be of type `Int`. But using the `incidents` attribute suggests that `incidentId` is of type `Float`.

I'd like to point out, t

[2019-06-17 09:03] jkimbo opened #679 "Add API documentation"
Recently @dvndrsn added some **great** API documentation to the Graphene project: https://github.com/graphql-python/graphene/pull/971 We should add do the same for Graphene-Django.

## To document:

* [ ] `DjangoObjectType`
* [ ] `DjangoConnectionField`
* [ ] `GraphQLView`
* [ ] `DjangoFormMutation`
* [ ] `DjangoModelFormMutation`
* [ ] `DjangoFilterConnectionField`

[2019-06-17 15:52] jkimbo commented on #676
@amiyatulu there is nothing built into Graphene-Django to give you this functionality unfortunately but you could use a package like https://pypi.org/project/django-throttle-requests/ or [Django REST Frameworks throttling functions](https://www.django-rest-framework.org/api-guide/throttling/) to achieve that.

[2019-06-17 15:53] #676 closed

[2019-06-17 16:05] jkimbo commented on #678
@crazyscientist I can't reproduce your issue. If I setup my schema in the following way:

[code]

I get the following schema:

[code]

Where `IncidentType` has the field `incidentId` of type `Int` which is what I would expect.

The only difference I can see with your code is that you should make sure that `Query` inherits from `graphene.ObjectType` (it doesn't in your example).

Can you make a sma

[2019-06-18 06:20] crazyscientist commented on #678
@jkimbo thanks for the reply, but you actually reproduced it:

[code]

Don't get me wrong, the API is working as expected. I was just suprised that the type is `Float`

[2019-06-18 08:41] jkimbo commented on #678
Huh I didn't notice that! Very strange, I'll look into why that's happening.

[2019-06-18 11:09] #460 closed

[2019-06-18 11:09] #581 closed

[2019-06-18 11:09] #147 closed

[2019-06-18 11:09] #586 closed

[2019-06-18 11:09] #505 closed

[2019-06-18 11:09] #479 closed

[2019-06-18 11:09] #575 closed

[2019-06-18 11:09] #64 closed

[2019-06-18 11:09] #69 closed

[2019-06-18 11:09] #76 closed

[2019-06-18 11:09] #97 closed

[2019-06-18 11:09] #527 closed

[2019-06-18 11:09] #490 closed

[2019-06-18 11:09] #402 closed

[2019-06-18 11:09] #562 closed

[2019-06-18 11:09] #273 closed

[2019-06-18 11:09] #531 closed

[2019-06-18 11:09] #364 closed

[2019-06-18 11:09] #614 closed

[2019-06-18 11:09] #353 closed

[2019-06-18 12:09] #485 closed

[2019-06-18 12:09] #488 closed

[2019-06-18 12:09] #496 closed

[2019-06-18 12:09] #462 closed

[2019-06-18 12:09] #480 closed

[2019-06-18 12:09] #510 closed

[2019-06-18 12:09] #511 closed

[2019-06-18 12:09] #515 closed

[2019-06-18 12:09] #254 closed

[2019-06-18 12:09] #470 closed

[2019-06-18 12:09] #121 closed

[2019-06-18 12:09] #478 closed

[2019-06-18 12:09] #529 closed

[2019-06-18 12:09] #517 closed

[2019-06-18 12:09] #534 closed

[2019-06-18 12:09] #190 closed

[2019-06-18 12:09] #409 closed

[2019-06-18 12:09] #553 closed

[2019-06-18 12:09] #544 closed

[2019-06-18 12:09] #385 closed

[2019-06-18 12:09] #554 closed

[2019-06-18 12:09] #312 closed

[2019-06-18 12:09] #558 closed

[2019-06-18 12:09] #376 closed

[2019-06-18 12:19] dperetti commented on #448
I beg to differ with the stale bot. This is highly important.

[2019-06-18 13:56] #139 closed

[2019-06-18 13:56] #167 closed

[2019-06-18 13:56] #183 closed

[2019-06-18 13:56] #153 closed

[2019-06-18 13:56] #188 closed

[2019-06-18 13:56] #189 closed

[2019-06-18 13:56] #193 closed

[2019-06-18 13:56] #237 closed

[2019-06-18 13:56] #222 closed

[2019-06-18 13:56] #233 closed

[2019-06-18 13:56] #169 closed

[2019-06-18 13:56] #265 closed

[2019-06-18 13:56] #182 closed

[2019-06-18 13:56] #387 closed

[2019-06-18 13:56] #342 closed

[2019-06-18 13:56] #397 closed

[2019-06-18 13:56] #416 closed

[2019-06-18 13:56] #420 closed

[2019-06-18 13:56] #276 closed

[2019-06-18 13:56] #421 closed

[2019-06-18 13:56] #176 closed

[2019-06-18 13:56] #434 closed

[2019-06-18 13:56] #438 closed

[2019-06-18 13:56] #225 closed

[2019-06-18 13:56] #410 closed

[2019-06-18 13:56] #453 closed

[2019-06-18 13:56] #424 closed

[2019-06-18 13:56] #445 closed

[2019-06-18 14:56] #468 closed

[2019-06-18 14:56] #469 closed

[2019-06-18 16:10] jkimbo commented on #678
Ok so I've figured out what is going on but I'm not sure how to fix it. Basically Django-filter converts an IntegerField into a [NumberFilter](https://django-filter.readthedocs.io/en/master/ref/filters.html#numberfilter) and a NumberFilter defines it's Django form field as a [`DecimalField`](https://github.com/carltongibson/django-filter/blob/master/django_filters/filters.py#L361-L362). Graphene-D

[2019-06-18 16:16] jkimbo commented on #448
Sorry for the bot @dperetti - we're just trying to get through a very long backlog of issues and it's useful to remove irrelevant old issues and surface the ones that are still a problem (like this one!). I'll reopen this issue since your suggestions sound sensible. Do you think you'll be able to create a PR for this @dperetti ?

[2019-06-18 16:50] dperetti commented on #448
Cool, I will !

[2019-06-19 09:26] crazyscientist commented on #678
Thanks for the investigation @jkimbo .

To me this sounds more like an issue for Django-filter :thinking:

[2019-06-19 10:02] imsickofmaps commented on #672
2.3.1 fixes real production breaking issues: https://github.com/graphql-python/graphene-django/releases/tag/v2.3.1

At the moment pypi (https://pypi.org/project/graphene-django/#history) is behind as a result of https://github.com/graphql-python/graphene-django/blob/v2.3.1/graphene_django/__init__.py#L4 not being `2.3.1`.

[2019-06-19 10:07] jkimbo commented on #678
Possibly though from their perspective the NumberField makes sense, it's just that Graphene needs more accurate type information. I think I have a fix that could work, just doing some testing on it now.

[2019-06-19 10:54] jkimbo commented on #678
@crazyscientist I've created a PR that should fix the issue: https://github.com/graphql-python/graphene-django/pull/682

[2019-06-19 10:58] phalt commented on #672
okay cool, @mvanlonden can you help us get this version out?

[2019-06-19 23:57] varunarora commented on #254
Wakie wakie bot...

[2019-06-20 02:16] brandonmbanks opened #683 "404 graphiql route"
I'm getting a 404 when going to `mysite/graphiql`. It is appending a slash to the url after not finding the route.

![image](https://user-images.githubusercontent.com/10030196/59813520-d62ac400-92df-11e9-9e5d-9a2785b0a67f.png)

Here are my urls:
[code]
If I changed `graphiql` to anything else it works.

[code]
![image](https://user-images.githubusercontent.com/10030196/59813465-9368ec00-92df-11e9-

[2019-06-20 02:19] brandonmbanks commented on #683
Also if I append the `/` to the path, then I can pull it up.
[code]
![image](https://user-images.githubusercontent.com/10030196/59813644-41749600-92e0-11e9-84c2-13914cbacbdc.png)
![image](https://user-images.githubusercontent.com/10030196/59813651-49343a80-92e0-11e9-9049-e8516d2a7558.png)

[2019-06-20 04:31] dan-klasson opened #684 "asserting status code before decoding json in assertResponseNoErrors"
On a 404 with debug set to True the json decode will fail. `self.assertEqual(resp.status_code, 200)` should come before `json.loads(resp.content)`.

[code]

[2019-06-20 06:19] danielcwj16 opened #685 "404 Not Found after upgrade to 2.3"
Just upgraded to 2.3. Then cannot open `graphql` site anymore.  It shows `graphiql.js` file not found.

<img width="520" alt="Screen Shot 2019-06-19 at 11 10 41 PM" src="https://user-images.githubusercontent.com/22938626/59825159-155d1300-92e8-11e9-8cf7-3542a1a4a4dd.png">

<img width="358" alt="Screen Shot 2019-06-19 at 11 14 18 PM" src="https://user-images.githubusercontent.com/22938626/59825166-

[2019-06-20 08:16] phalt commented on #672
We will be doing a `2.3.2` release to fix this issue see #686

[2019-06-20 10:43] jkimbo commented on #684
@dan-klasson this is in the testing utils right? Seems like a reasonable change. Do you have time to make a pull request?

[2019-06-20 10:46] jkimbo commented on #254
@varunarora the issue seems to be that the `node` field requires a global ID to be passed to it (rather than just a Django ID). If a global ID is passed then it should work fine. Is that right? Could you clarify what issue you are seeing?

[2019-06-20 10:54] brandonmbanks commented on #683
Also I'm running
Python 3.7.3
Django 2.2.2
Graphene 2.1.6
Graphene Django 2.3.0

[2019-06-20 16:03] phalt commented on #683
Is this after upgrading django and or graphene-django or are you starting brand new?

This looks like you just got the URL config wrong.

[2019-06-20 16:04] phalt commented on #685
Have you ran `python manage.py collectstatic` ?

[2019-06-20 20:24] brandonmbanks commented on #683
Started brand new. I don't think I got the config wrong. Again it works if I use any other string instead of `graphiql`

[2019-06-20 22:52] shoof1072 commented on #685
Could this be related to #508?

Our project pulled in 2.3.0 and we observed the same 404, both FF and Chrome render a blank page at the /graphql/ path, and observed the following printed to our service log:
[code]
We've rolled back and pinned to 2.2.0 for now.

[2019-06-20 22:56] danielcwj16 commented on #685
I tried this and it created a `static` folder with that `graphene_django/graphiql.js` in it. But still can not open the page, console gave the same error message.

[2019-06-21 02:32] gotexis commented on #159
@cmmartti Hey

When you do `from .loaders import Loaders`

What exactly is the `.loaders` file? What will be the `Loaders`?

[2019-06-21 02:36] japrogramer commented on #159
@gotexis probably dataloaders

[code]

[2019-06-21 02:43] gotexis commented on #159
@japrogramer
That was quick ;)

Seems the man has a middleware applied to graphene in total.
[code]
so I doubt it is only a loader for only one model...

[2019-06-21 02:45] japrogramer commented on #159
here is a generic Dataloader generator
[code]

[2019-06-21 02:47] gotexis commented on #159
@japrogramer Let me just test it now :) Hopefully it will eliminate the need to write a loader for every model :)

[2019-06-21 02:47] japrogramer commented on #159
;)

[2019-06-21 02:57] japrogramer commented on #159
Also if you do something like this in a mix in for your types,
you can get a multiple items from global ids .. instead of calling get_node indevidually for each

[code]

[2019-06-21 03:02] japrogramer commented on #159
This won't solve n+1, no where in computer science can n+1 be solved only alleviated.
not even quantum computers will solve n+1;

DataLoaders will help if for some reason you keep requesting the same item multiple times per query.
But usually it's nested queries that causes the exponential growth ..  so prefetching and select_related is your best option. But there is an open bug on how graphene-dj

[2019-06-21 03:12] gotexis commented on #354
@zry656565 Did you find using `graphene` instead of `graphene_django` easier?

[2019-06-21 08:37] phalt commented on #683
I can't replicate this at all locally. I think this might be an issue with you Django URL configuration, not necessarily graphene-django. Can you check the [URLConf](https://docs.djangoproject.com/en/2.2/topics/http/urls/) docs and make sure you don't have anything wrong there?

[2019-06-21 08:39] phalt commented on #685
We've just pushed out 2.3.2, can you check this is still occurring in that version? I am running 2.3 locally on my machine and I'm having no issues.

[2019-06-21 21:50] danielcwj16 commented on #685
Still not works

[2019-06-22 13:48] brandonmbanks commented on #683
I can definitely do that.

[2019-06-22 14:10] brandonmbanks commented on #683
Really not sure what this issue is. Especially because any other string instead of graphiql works...

[2019-06-22 16:14] jkimbo commented on #672
v2.3.2 (exactly the same as v2.3.1) has now been released to PyPi

[2019-06-22 16:14] #672 closed

[2019-06-23 17:16] kmdiogo opened #687 "DjangoModelFormMutation Not Raising Form Errors"
Hi, I'm having an issue trying to create a mutation for updating a custom user model. According to the docs (https://docs.graphene-python.org/projects/django/en/latest/mutations/):

For me, perform_mutate is being called correctly when the form is valid (as expected), but my issue is that form errors are not being returned when the form is invalid. The endpoint simply returns a null user.

Code:
[

[2019-06-24 09:44] jkimbo commented on #685
@danielcwj16 have you added `graphene_django` to your `INSTALLED_APPS` list in `settings.py`? `django.contrib.staticfiles` also needs to be in that list.

[2019-06-24 09:48] dan-klasson commented on #474
Filtering doesn't work on native enum types either.

[2019-06-24 09:52] jkimbo commented on #683
@brandonmbanks Django is probably appending the slash to the url because of this setting: https://docs.djangoproject.com/en/2.2/ref/settings/#append-slash

But the underlying issue is that it is not resolving the `graphiql` route to begin with. I can't reproduce the issue locally when I replicate your URL patterns. Can you create a full reproducible example and push it to a repo somewhere?

[2019-06-24 14:51] brandonmbanks commented on #683
@jkimbo https://github.com/brandonmbanks/django-graphql-starter/tree/graphql-setup
I have it pushed up in a branch. Thanks for taking a look.

[2019-06-24 15:18] jkimbo commented on #683
@brandonmbanks I've tried that branch and it works fine for me:

<img width="357" alt="Screenshot 2019-06-24 16 15 57" src="https://user-images.githubusercontent.com/691952/60030740-6e87c680-969b-11e9-8c2c-4ba3bd8ff9cc.png">
<img width="669" alt="Screenshot 2019-06-24 16 16 09" src="https://user-images.githubusercontent.com/691952/60030744-70518a00-969b-11e9-8bdb-d8d4ccdd5293.png">

It's very odd

[2019-06-24 15:49] zbyte64 commented on #687
I am thinking you need to explicitly ask for errors as part of the mutation, like so:

[code]

[2019-06-24 17:08] brandonmbanks commented on #683
Well I'm stumped. Looks like you didn't use the docker containers. I wonder if I might be missing something there.

[2019-06-24 17:09] brandonmbanks commented on #683
Why would it not find `graphiql` but then find `graphiql`. And why would `test` work just fine. So bizare to me.

[2019-06-24 17:57] jkimbo commented on #683
Yep I'm not sure what is going on sorry. I'm going to close this issue now since I'm pretty confident this is not an issue with Graphene-Django. Do report back if you find out the problem though!

[2019-06-24 17:57] #683 closed

[2019-06-24 22:24] BenjjinF commented on #206
I noticed that there's an issue with regards to exact id filtering too. Both GlobalIDFilter and GlobalIDFormField make use of from_global_id(); this will fail silently and return the whole list if given a regular model id.

[2019-06-24 23:04] kmdiogo commented on #687
Ah yes, that totally makes sense now, and now the errors are being raised as expected. Thanks for that clarification!

[2019-06-24 23:04] #687 closed

[2019-06-25 09:00] edmorley commented on #146
Not stale

[2019-06-25 09:54] phalt commented on #146
Simply wrapping the view in a `csrf_exempt` is enough but yes, we should add this to the docs:
[code]

[2019-06-25 16:45] #448 closed

[2019-06-26 04:24] evanheckert commented on #685
@jkimbo I have both of those in place, and have run collectstatic and am experiencing the same issue. Rollback to 2.2 solves it for now.

[2019-06-26 08:55] jkimbo commented on #685
@evanheckert can you share your static file settings in `settings.py`? Or even better if you could create a reproduction of the issue that would be very helpful.

[2019-06-26 09:04] jkimbo commented on #357
This is still an issue

[2019-06-26 10:26] defiler commented on #607
Bump. Still an issue.

[2019-06-26 11:07] defiler opened #692 "Found different types with the same name in the schema: ErrorType, ErrorType."
After updating from 2.1.3 to 2.1.6 this error shows up.
It seems that importing `ErrorType` from `graphene_django/forms/types.py` is obsolete now, as `ErrorType` now lives in `graphene_django/types.py`
This module should be removed or it just needs to import `ErrorType` from new location for backwards compatibility?

[2019-07-01 04:58] japrogramer commented on #327
nope, no solution. big flaw, starting to see some big db hits.

[2019-07-01 09:32] jkimbo commented on #185
Looks like this is still an issue. Don't close

[2019-07-01 10:05] hgylfason commented on #327
Sorry for the late reply @gotexis but we never found any solution to this problem.

[2019-07-01 10:58] GasimGasimzada commented on #185
I think this can be solved by adding double underscore or something similar to the name (e.g “__OrganizationType” instead of “OrganizationType”). I just got curious about this to be honest. Why does a choice based field have a type? Is it possible to completely remove this auto-generated field type for choice field?

[2019-07-01 14:21] jkimbo commented on #185
@GasimGasimzada there is an option in master (not yet released) that allows you to turn off the automatic choice to enum conversion: https://github.com/graphql-python/graphene-django/pull/674

[2019-07-01 17:20] #594 closed

[2019-07-01 17:20] #574 closed

[2019-07-01 17:33] jkimbo commented on #327
@japrogramer @hgylfason @jonbesga I think I've found the issue that is meaning that prefetch_related is not preserved. It's a bug and this PR should fix it: https://github.com/graphql-python/graphene-django/pull/693

[2019-07-01 20:24] japrogramer commented on #327
@jkimbo I thought that line looked like it was responsible, I didn't tested because i didn't understand the reasoning for merging the querysets.

Thanks for the work, hopefully it gets merged soon.

[2019-07-01 22:42] jkimbo commented on #327
And thanks @japrogramer for helping figure out the problem. Made fixing it very simple 😄

[2019-07-02 03:13] japrogramer commented on #159
@gotexis https://github.com/graphql-python/graphene-django/pull/693 once merged that could alleviate some of your n+1 problems since prefetching should work

[2019-07-02 11:59] #521 closed

[2019-07-02 11:59] #502 closed

[2019-07-02 11:59] #476 closed

[2019-07-02 11:59] #500 closed

[2019-07-02 12:59] #419 closed

[2019-07-02 18:37] #327 closed

[2019-07-02 19:48] sandwichsudo commented on #124
In case this helps someone - the class based middleware didn't work for me, but this function based did:
[code]

then in our settings:

[code]

[2019-07-04 14:57] Shehab-Muhammad commented on #398
Could you open this again as we can not do a partial update for model instances?
we must send all instance data that's not mutated also to perform update operations

[2019-07-04 21:42] ckristhoff opened #696 "Cannot return null for non-nullable fiel error"
[code]

Request
[code]

Response
[code]

Server console
[code]

It worked until 5 minutes ago :(

[2019-07-06 02:26] elcolie opened #697 "How to do filter or search on JSONField()?"
The original is [here](https://stackoverflow.com/questions/56902395/need-guide-lines-or-hints-to-use-graphene-python-django-filters-query-on-js)

If you know the way how to do that please share

[2019-07-06 07:23] abtuleshov opened #698 "custom @classmethod get_queryset of DjangoObjectType not works"
in official docs: https://docs.graphene-python.org/projects/django/en/latest/queries/#default-queryset. In practice nothing happens. Please help

[2019-07-06 13:21] #461 closed

[2019-07-07 10:23] jckw opened #700 "Required DjangoFilterConnectionField has "no _meta attribute" error."
Since [issue], it's been possible to make DjangoFilterConnectionFields and ConnectionFields non-nullable using the `required=True` kwarg. E.g.

[code]

However, querying this field fails due to the error below.

[code]

This is possibly due to the NonNull structure's `of_type` not being used, yet a normal relay.ConnectionField seems to work fine with a `required=True` kwarg.

Fixing this is partic

[2019-07-07 10:44] jkimbo commented on #692
@defiler good find! I'll create a PR to fix this.

[2019-07-07 10:48] jkimbo commented on #692
https://github.com/graphql-python/graphene-django/pull/701

[2019-07-07 17:55] Shehab-Muhammad commented on #478
We still facing same error

[2019-07-07 19:06] #692 closed

[2019-07-07 19:11] #678 closed

[2019-07-08 03:00] themotu commented on #402
A query like this:

[code]

Executes the exact same SQL as this:
[code]

[2019-07-08 03:05] themotu opened #702 "Queries selecting too much data"
A query like this:

[code]

Executes the exact same SQL as this:
[code]

They also both select all columns and not **only** the ones we are asking for. (only tested on sqlite but assume postgresql would be the same behavior)

#402 related

[2019-07-08 05:21] themotu commented on #462
@spflueger Any news on PR for this?

[2019-07-08 05:27] themotu commented on #494
@leiwu123 Seems like the only way to reference a model doing mutations is to use relay like in the starwars example. Pretty ugly to have to update fields in both places all the time. Documentation on this kind of thing is non-existent.

[2019-07-08 08:00] themotu opened #703 "DjangoModelFormMutation not returning client_mutation_id aka clientMutationId"
[code]
In the REPL the following returns null:
`cls(errors=[], **kwargs).client_mutation_id`

However you can get the object easily enough `cls(errors=[], **kwargs).bucketType`

Note: I'm using "the_bucket_type" because if I use "bucket_type" no object returns due to the use of the word "type"

[2019-07-08 12:24] dan-klasson opened #704 "Exception thrown in test"
I'm trying to test that a `PermissionDenied` exception is being thrown. The problem is that `assertRaises` does not catch the exception, but worse than that each test comes with this test output:

	Creating test database for alias 'default'...
	System check identified no issues (0 silenced).
	Traceback (most recent call last):
	  File "/home/dan/game/venv/lib/python3.7/site-packages/promise/promis

[2019-07-08 15:09] sliverc commented on #177
If relay doesn't require a length to create a slice like proposed at https://github.com/graphql-python/graphql-relay-py/issues/16 a fix for graphene-django would be easy.

[2019-07-08 16:30] zbyte64 commented on #697
Relevant django-filter issues: https://github.com/carltongibson/django-filter/issues/583 https://github.com/carltongibson/django-filter/issues/426

You can do this by manually defining your own filter, example from the first issue:
[code]

But there are limitations like not supporting `icontains` or querying arrays.

[2019-07-08 21:30] zbyte64 commented on #698
Here's the unit test for this feature: https://github.com/graphql-python/graphene-django/blob/master/graphene_django/tests/test_query.py#L1026

Maybe you can show us how you defined your object type?

[2019-07-09 03:11] saritaegon commented on #697
Thank you very much @zbyte64 I though `graphene-django` has feature to do a generic filter for this problem since it has been around for a year already.

[2019-07-09 03:12] elcolie commented on #697
Thank you very much @zbyte64 I though `graphene-django` has feature to do a generic filter for this problem since it has been around for a year already.

[2019-07-09 03:12] #697 closed

[2019-07-09 14:12] jkimbo opened #705 "☂️Graphene-Django v3"
This issue is to track v3 of Graphene-Django which will contain some breaking changes.

WIP branch: [`v3`](https://github.com/graphql-python/graphene-django/tree/v3) ([compare](https://github.com/graphql-python/graphene-django/compare/master...v3))

## Breaking changes

* [x] Upgrade to Graphene v3 (which also upgrades graphql-core to v3) (PR work in progress: https://github.com/graphql-python/gra

[2019-07-09 17:09] #129 closed

[2019-07-09 17:09] #130 closed

[2019-07-09 17:52] zbyte64 commented on #185
I am trying to figure out why our unit tests don't catch this. We have a test model `Reporter` which has a field `reporter_type` which has options and it seems to work. See: https://github.com/graphql-python/graphene-django/blob/master/graphene_django/tests/models.py#L45

[2019-07-10 05:01] amiyatulu opened #707 "How to disable GraphiQL IDE on production?"
How can I disable the GraphiQL IDE on production?

[2019-07-10 07:00] amiyatulu commented on #676
This the error with django-throttle-requests
`ResolveInfo' object has no attribute 'META'`

for the code:

`class CreatePageView(graphene.Mutation):
    pageview = graphene.Field(PageViewType)
    class Arguments:
        subscriptionkey = graphene.String(required=True)

    @method_decorator(throttle(zone='pageview'))
    def mutate(self, info, subscriptionkey):
        pv = PageView(subscription

[2019-07-10 08:38] phalt commented on #707
Hi @amiyatulu - this is how I do it:

In urls.py I import the `settings.DEBUG` value and then add graphiql ONLY if debug is true:
[code]

[2019-07-10 11:16] amiyatulu commented on #707
Thanks,
This is my code:
[code]

[2019-07-10 11:21] #707 closed

[2019-07-10 14:16] RasmusKlett commented on #536
I'm experiencing this problem as well. It seems the pull request has stalled?

[2019-07-11 06:44] abtuleshov commented on #698
@zbyte64 a lot of thanks for your feedback!

[code]

The query:

[code]

returns:

[code]

instead of:

[code]

[2019-07-11 11:21] artofhuman commented on #702
Related https://github.com/graphql-python/graphene-django/issues/250

[2019-07-11 19:32] #684 closed

[2019-07-11 19:35] zbyte64 commented on #698
Try swapping out `List` for `DjangoConnectionField`.
Looks like we need to document that `get_queryset` works with the `DjangoConnectionField` and that non-relay fields like `List` don't have the same magic.

[2019-07-12 05:46] dan-klasson opened #709 "Filter classes filtering broken with django-filter 2.0"
While using any of the examples listed here, this error is thrown by `django-filter`:

     AssertionError: The `lookup_expr` argument no longer accepts `None` or a list of expressions. Use the `LookupChoiceFilter` instead. See: https://django-filter.readthedocs.io/en/master/guide/migration.html

Then if I, as they suggest, change `lookup_exp` to use `LookupChoiceFilter` instead. Like so:

	class

[2019-07-12 06:28] dan-klasson commented on #684
@jkimbo Sorry, I just stumbled across this now by chance. Going to check my Github notification settings now.

[2019-07-12 16:50] jkimbo opened #710 "Start warning if `fields` or `exclude` are not defined on `DjangoObjectType`"
So that model fields aren't accidentally exposed through DjangoObjectType I propose that we start warning if either `fields` or `exclude` aren't defined with the intention to error completely in the future. This would also align the API more with Django Rest Framework which hopefully makes it more familiar to most developers.

[2019-07-13 04:07] #442 closed

[2019-07-13 07:56] o3o3o commented on #562
[The snippet](https://o3o3o.me/2019/07/13/django-ratelimit-for-graphql/)  may  help you:

[2019-07-13 09:23] jkimbo commented on #702
@themotu I'm a bit confused about your example. In both queries the same fields are requested so I would always expect the same SQL to be executed. Could you expand on what you mean?

[2019-07-13 09:24] jkimbo commented on #556
This issue should be fixed in v2.4.0 by setting the `CAMELCASE_ERRORS` setting: http://docs.graphene-python.org/projects/django/en/latest/settings/#camelcase-errors

[2019-07-13 09:24] #556 closed

[2019-07-13 09:27] jkimbo commented on #67
@kaglowka v2.4.0 contains a new feature which allows you to turn off automatic enum creation on a case by case basis: http://docs.graphene-python.org/projects/django/en/latest/queries/#choices-to-enum-conversion

[2019-07-13 09:27] #67 closed

[2019-07-13 10:24] jkimbo commented on #700
@jckw thanks for the bug report. I found the issue and fixed it in #711

[2019-07-13 11:26] abtuleshov commented on #698
It works DjangoConnectionField, thanks! Yeah it needs to correct the document or just do same magic with List ))

[2019-07-14 02:21] #417 closed

[2019-07-14 06:21] #226 closed

[2019-07-14 06:21] #550 closed

[2019-07-14 07:21] #369 closed

[2019-07-14 12:10] Eraldo commented on #637
Any comment to my suggestion?

[2019-07-15 02:20] robertpro opened #712 "Make required False in django graphene with relay"
I am sorry for raising an issue here, but I am not sure if you have any support channel.

I want to make required=False on my Node, so I can get the node by the logged in user instead of the user ID, but I can't find how to do it, Could anyone please help?

[code]

[code]

This is the error if I don't pass any parameter:

[code]

[2019-07-15 08:23] dan-klasson commented on #712
I would return the user in the resolve method.

[2019-07-15 17:43] coltonbh commented on #503
Just want to add a bump to this thread after spending some time dealing with this issue. Django specifies that empty CharFields should be represented as "" rather than None so that there is only one representation of an empty field ("" rather than "" and None). This means setting blank=True and NOT setting null=True on the CharField model definition (https://docs.djangoproject.com/en/2.2/ref/model

[2019-07-16 17:50] robertpro commented on #712
@dan-klasson I need Customer object, not user,

As a work around I am doing this:

[code]

[code]

But I don't think this is the best way to do it, since I need to iterate or hard-code the index to get the information

[2019-07-17 03:56] dan-klasson commented on #712
You can do something like this but with Customer instead:

	import graphene
	class FooNode(ObjectType):
	    name = graphene.String()

	class Query(ObjectType):

	    foo = graphene.Field(FooNode)

	    def resolve_foo(self, info, **kwargs):
		return User.objects.first()

[2019-07-17 20:07] kylehoover commented on #446
Another way to deal with this is to provide default values for the `id` and `name` arguments in `resolve_ingredient` like so:
[code]

[2019-07-17 22:50] robertpro commented on #712
@dan-klasson yeah, I think you are right, maybe I was trying to do it the wrong way, will close this issue. Thanks!

[2019-07-17 22:50] #712 closed

[2019-07-17 22:51] robertpro commented on #712
BTW, if you have any support channel (mailing list, reddit, slack, discord), please let me know!

[2019-07-17 22:56] robertpro commented on #659
I would vote for the Subclassing way, maybe in a views.py file at the same folder as schema.py?

[2019-07-18 13:30] wolendranh commented on #702
I think what is meant here is that when you request
[code]
and
[code]
Django ORM will execute same query (`Review.objects.all()`)
Bu in first case it COULD be for example `Review.objects.values('id')` and in second ``Review.objects.values('id', 'name')``.

[2019-07-18 16:21] abtuleshov opened #713 "Wrong error message for nested serializer in mutation"
I have serializer mutation

[code]

The response is:

[code]

I need response something like:
[code]

[2019-07-19 07:37] sliverc commented on #57
I think it would be still great if query optimization code could be integrated into graphene-django directly.

https://github.com/graphql-python/graphene-django/pull/693 made the situation a bit better but it doesn't really work if filters are used. For such a queryset would need to be calculated according the schema and [`Prefetch`](https://docs.djangoproject.com/en/2.2/ref/models/querysets/#djan

[2019-07-19 18:45] zbyte64 commented on #637
Duplicate of #503 we have a fix pr at #714 ; you can install that branch for a fix

[2019-07-19 18:45] #637 closed

[2019-07-19 19:07] abtuleshov commented on #698
@zbyte64 is it generally possible to do this with graphene.List? For example i need to fetch all companies with flag that authorized user subscribed it or not.
[code]
and then, I could request:
[code]
and I will know that if company has not empty field 'subscriptions', auth user subscribed this company.
Of course I can set the queryset on the endpoint like:
[code]
But what about queries like:
[cod

[2019-07-19 19:16] #497 closed

[2019-07-21 16:25] #638 closed

[2019-07-21 18:58] themotu commented on #11
This ended up being simpler than expected. I feel like this could be automatic in graphene-django but haven't dug very much.

models.py
[code]
schema.py
[code]

graphql query:
[code]

[2019-07-22 14:00] Lepiloff opened #715 "Graphene adds a prefix _A before each numeric value"
I'm using graphene-django version 2.4.0 with Django 2.2 and now I'm seeing a strange bug. Before each integer fields graphene add simbols _A. For example for models

[code]
  the JSON output is like:
`{{"employeeSkills": [{"lastYear": "A_2019", "year": "A_1", "level": "ADVANCED", "technology": {"name": "Python"}}, {"lastYear": "A_2019", "year": "A_2", "level": "INTERMEDIATE", "technology": {"name"

[2019-07-22 22:56] ckristhoff opened #716 "Model Form Mutation with custom model pk still require ID"
Hi everyone
I'm trying to implement a mutation with DjangoModelFormMutation. My Model declares a custom pk.

[code]

The mutation shows a required ID parameter, my_custom_pk also.
Can I use lookup_field to avoid ID field? or what can I do?

[2019-07-23 07:17] obitodarky opened #717 "unresolved reference url"
In [Readme.md](https://github.com/graphql-python/graphene-django/blob/master/README.md) As per the installation steps, under **Urls**, while adding the url pattern for graphql as mentioned below

[code]

I got an error saying `unresolved reference url`

Should I use path instead?

**Screenshot**
![Screenshot 2019-07-23 at 12 46 45 PM](https://user-images.githubusercontent.com/21317964/61690891-f96

[2019-07-23 08:33] dan-klasson commented on #716
As far as I know `DjangoModelFormMutation` takes the primary key by default. So just pass your PK as the `id` parameter.

[2019-07-23 21:56] ckristhoff commented on #716
Thanks @dan-klasson
obviously it is'not a problem, I just think it would be more consistent removing the custom pk and use only the ID

[2019-07-24 07:20] dan-klasson commented on #716
Sorry I misread your question. `DjangoModelFormMutation` contains the following snippet of code:

        if "id" not in exclude_fields:
            input_fields["id"] = graphene.ID()

Maybe try to include `id` in `exclude_fields`. The drawback with that is that you can then not use the `fields` as far as I know. You could also subclass  `DjangoModelFormMutation` and override `__init_subclass_with

[2019-07-24 07:39] bendog commented on #434
did this ever get resolved?

[2019-07-24 10:57] dan-klasson commented on #717
It's probably just complaining you haven't imported `url`. Use `path` if that is what your Django version supports. You should also get rid of `^` and `$` as well in that case.

[2019-07-24 10:58] dan-klasson commented on #715
I think that's because GraphQL doesn't support integer `ENUM`.

[2019-07-24 14:28] ish-vasa commented on #253
i'm on v2, django 2.3 and none of my m2m on my models autogenerate if that helps anyone

[2019-07-24 20:43] OskarPersson commented on #702
@wolendranh Usually [`.only()`](https://docs.djangoproject.com/en/2.2/ref/models/querysets/#only) is better suited for this.

Either way I'm not sure how this could automatically be integrated with graphene-django though since users manually write their queries in the resolvers. And even doing so seems to result in some weird behaviour according to my limited testing where there instead is one or

[2019-07-25 02:56] o3o3o commented on #67
If I want to use **the converted choices Enum** as the filter argument.
How I can easily define it in the query?
Here is a way to do it:

[code]
I have to get the converted type from ` LabelQL._meta.fields["type"].type`

I there any natural way to use `LabelType` in the query?

[2019-07-25 07:36] wolendranh commented on #702
@OskarPersson I get your point. But maybe something like https://github.com/tfoxy/graphene-django-optimizer can be incorporated. Taking into account that related #250

[2019-07-25 12:00] jkimbo commented on #702
@OskarPersson @wolendranh I don’t like the idea of building into graphene-django something that always automatically selects only fields that are requested because I think it could actually lead to worse behaviour since Django can’t cache queries consistently. However I would recommend using something like graphene-django-optimiser on a case by case basis if it helps you.

Separately I think #250

[2019-07-25 12:00] #702 closed

[2019-07-25 12:07] jkimbo opened #718 "Document: Using graphene-django-optimiser to optimise database queries"
https://github.com/tfoxy/graphene-django-optimizer looks like a great library that can help optimise database queries. We should add it to the documentation.

See #57

[2019-07-25 14:29] surgiie opened #719 "[Question] - Single filter lookup object argument in queries instead of one for each filter field."
Im still really new to graphql in general so i dont know much about whether this is viable or not, but i know that if you define the filter fields on the node object as such,

[code]
They can be defined as single arguments on the query:

[code]

However if you need to pass many filter arguments this can make the query string arguments really long. When we build up our graphql query in the front en

[2019-07-25 17:07] jkimbo commented on #717
Yep @dan-klasson is right, you need to import `url` from Django @obitodarkly

We should update the readme to use the new path syntax as well.

[2019-07-25 17:07] #717 closed

[2019-07-25 17:17] jkimbo commented on #57
@sliverc is there any reason why you can't use the https://github.com/tfoxy/graphene-django-optimizer library? I'd like to avoid including more code into the library (that needs to be maintained) if there are alternative ways of doing it.

[2019-07-25 17:18] jkimbo commented on #659
I'm going to close this issue now because there are multiple ways to achieve this.

[2019-07-25 17:18] #659 closed

[2019-07-26 07:43] sliverc commented on #57
@jkimbo
First of all graphene-django-optimizer has limitations and doesn't seem to work when using `DjangoFilterConnetionField` or overwriting `get_queryset` on Node or deep nesting. And I don't see that this can easily be integrated into a separate library without ugly workarounds.

Secondly I see your point that you want to avoid adding code into the library when possible. In this case I don't s

[2019-07-26 09:07] Lepiloff commented on #715
@dan-klasson Thank you, I didn't know that.

[2019-07-26 09:07] #715 closed

[2019-07-26 10:29] jkimbo commented on #57
@sliverc I agree that “query explosions” are likely to happen however I think it is a hard problem and one that won’t necessarily be made easier by building an optimiser into the library. Having said that if you want to create a PR that adds optimisation features into graphene-django I will happily review it.

@tfoxy as author of the graphene-django-optimiser library what do you think? Should the

[2019-07-26 16:05] jackton1 opened #721 "Attribute error using `DjangoFilterConnectionField` with `required=True`"
Getting `NotNull has "no _meta attribute" error` #700 appears not to be resolved.

Current version
[code]

[code]

[code]

[code]

BTW Awesome package.

[2019-07-26 16:09] jackton1 commented on #721
Closing duplicate issue pending

@jkimbo Waiting for #711 to be merged.

[2019-07-26 16:09] #721 closed

[2019-07-26 18:42] tfoxy commented on #57
graphene-django-optimizer was created as a hotfix to improve the performance of the project I was working while not making the codebase uglier (before this, we were making the optimizations at the root of every graph resolver).
The code of graphene-django-optimizer is more of a hack as it uses undocumented properties from graphene-django. The code is not maintainable as it is now; I just kept addi

[2019-07-28 10:46] jkimbo commented on #57
Thanks for the reply @tfoxy . Sounds like you are right @sliverc , we should try and integrate some optimisations into graphene-django so that it is maintainable in the long run. I'm going to pick up #250 since it looks like a simple one. Do you have any time to work on adding other optimisations @sliverc ?

[2019-07-28 10:53] jkimbo commented on #57
Or @tfoxy if you’d like to merge some of your code into graphene-django that would be very helpful!

[2019-07-28 15:54] jkimbo commented on #650
Closing this as a duplicate of #679

[2019-07-28 15:54] #650 closed

[2019-07-28 23:31] gotexis commented on #57
You are most correct, we have to remember the end goal is to have a workable, production-ready API out of the box, or people are going to move to Node.

Maybe we should have a vote on the top priority features and I think optimization will be on top1-2. But it is also one of the hardest.

The situation may be made better with the planned release of a better async core of `Django` and native `Promi

[2019-07-29 02:12] ckristhoff commented on #716
Thank again @dan-klasson
your suggestions really works, but if I exclude id field my model form does not update my model instance.

[2019-07-29 02:19] ckristhoff opened #722 "DjangoModelFormMutation receive uncoded ID"
Hi everyone
As already we know, queries with relay interface gives ID fields as base64; but form based mutations receive ID as natural string. Can we change to receive ID's as base64 like relay?

[code]

[2019-07-29 03:02] dan-klasson commented on #716
You should file a bug report regarding this then. Are you trying to use relay ids?

[2019-07-29 07:39] dan-klasson commented on #698
I think the `resolve_foo` methods gets called when you do nested queries. So you can do auth restriction there. Is there a reason why you don't want to use `DjangoFilterConnectionField`?

[2019-07-29 08:42] sliverc commented on #57
@jkimbo I have posted here as stale bot was about to close this issue and I wanted avoid this and restart the discussion whether this is a valid issue.

I would love to work on this but I am very tight on time. Someone of our team might be able to work at it later on but do not know when this might happen.

But could you add `pinned` label to this issue that the stale bot doesn't close it again an

[2019-07-29 13:13] abtuleshov commented on #698
@dan-klasson thank you for feedback. The main reason why i don't want use DjangoFilterConnectionField is edges-node conception

[2019-07-29 22:46] ckristhoff commented on #716
Hi @dan-klasson
yes, I do. My model based queries use relay interface, so I wanna consistency between queries and mutations.

[2019-07-30 03:53] dan-klasson commented on #716
Why do you have `CharField` instead of `AutoField` on your PK?

[2019-07-30 07:55] spflueger commented on #462
I thought @patrick91 was trying to make a PR for this. Too be honest, I haven't been coding for this project for months now. I'm still using the code snippet I send above...

[2019-07-30 19:32] jckw opened #723 "connection_class not being used in ManyToManyField connection."
I have a DjangoObjectType with the the `connection_class` set to a custom connection NonNullConnection, where NonNullConnection is some modified version of the normal graphene.Connection. Notably, NonNullConnection makes all the edges and nodes `required`.

[code]

Posts are connected to a user model via a ManyToManyField.

[code]

However, when looking at the schema on GraphiQL, the `likedPosts`

[2019-07-30 19:34] jckw commented on #723
I think this might be because there's no handling of `connection_class` in the converter function.

https://github.com/graphql-python/graphene-django/blob/54cc6a4b13c18b8efebccaacd8ac8df93bf56949/graphene_django/converter.py#L174

[2019-07-30 20:05] jckw commented on #723
Looking into it further, it seems that there are actually two Connections that are created called "JobConnection".

[2019-07-31 10:37] harunurkst commented on #101
Hello @blackflame007 ,
I can upload a single file, but uploading multiple files is not working this way. It shows
`{
    "errors": [
        null
    ]
}`

[2019-07-31 16:07] dacevedo12 commented on #685
@jkimbo We're experiencing the same problem. Here's what our static settings look like
![image](https://user-images.githubusercontent.com/29694570/62228346-196a5f00-b383-11e9-8771-1e5ecdea83d3.png)

It works in the local development server but then fails after the app is deployed and served through wsgi

[2019-08-01 00:06] nickwhite917 opened #724 "Getting in touch with the community"
I've just started using graphene-django on a project and am blown away by how easy it's made development. Thank you all so much for building this amazing tool!

I'm interested in getting involved in the community and contributing to graphene. Can someone provide info on graphene's Slack, IRC, or Discord channels (or any other means of real-time communication)? I'm hoping to get ramped up quickly a

[2019-08-01 00:44] mvanlonden commented on #724
Thank you for your interest. I've invited you to our slack using your public github email

[2019-08-01 00:44] #724 closed

[2019-08-01 00:46] nickwhite917 commented on #724
Thank you!

[2019-08-01 07:56] jkimbo commented on #57
OK thanks @sliverc . If anyone else would like to work on adding some optimisations to graphene-django that would be great!

[2019-08-01 07:59] jkimbo commented on #723
This sounds like a bug @jckw . Could you either create a PR with a failing test that shows this issue or post a complete code example that can reproduce it?

[2019-08-01 08:02] jkimbo commented on #719
@surgiie unfortunately this isn't a feature thats available in graphene-django currently although it sounds like a useful one! The approach you've taken to work around it seems like the right one though. What issues were you having with it?

[2019-08-01 08:05] jkimbo commented on #685
@dacevedo12 can you create a full reproduction of the issue (as a github repo)? I can't reproduce the problem.

[2019-08-01 08:07] jkimbo commented on #685
Actually @dacevedo12 I think you need `os.path.join(PROJECT_ROOT, "static"),` in your `STATICFILES_DIRS` setting and you need to make sure you run `manage.py collectstatic` as part of your deployment process.

[2019-08-01 08:07] #503 closed

[2019-08-01 10:57] dan-klasson opened #725 "Partial updates with DjangoModelFormMutation"
Django's `ModelForm` sets all specified fields to `None` when you don't pass in the data. It's possible that this doesn't happen when using a DRF serializer instead (I haven't tried it). Overriding the `ModelForm`'s `__init__` method like this seems to work:

[code]

But this should really be default behavior for `DjangoModelFormMutation`.

[2019-08-01 11:02] dan-klasson opened #726 "blank=False on updates"
When setting `blank` on the model field to `False`. Why does Graphene throw a `Expected "Foo!"` error on an update? Shouldn't this only happen on a create? Because having to pass in unnecessary data seem to go against the whole purpose of GraphQL.

[2019-08-01 13:05] manesioz commented on #724
I, too, love using graphene and would love to contribute in any way possible. Could I get added to the slack as well?
Thanks!
Zack

[2019-08-01 13:42] mohamedrez commented on #57
I would like to contribute also

On Thu, 1 Aug 2019 at 08:56, Jonathan Kim <notifications@github.com> wrote:

[2019-08-01 13:46] surgiie commented on #719
@jkimbo

In theory i assumed the approach i took would work as well, but i keep getting this error when i tried creating the object type class dynamically `dynamic_class = type(class_name, (ObjectType,), fields)` :

[code]

I also tried setting the fields in meta as another approach:

`dynamic_class = type(class_name, (ObjectType,), {"_meta": {"fields": fields}})` but that fails because the base t

[2019-08-01 14:54] manesioz commented on #57
Likewise! I'd love to help out in any way that I can, although at first it would probably be something simple.  Let me know / add me to the slack if you want :) Thanks

[2019-08-01 17:48] tfoxy commented on #57
I can contribute. I have two questions before doing anything:

* Would these changes go into v2 or v3?
* Would we use the same api as `graphene-django-optimizer` or would we have something more integrated, like for example being the default to optimize the queries?

I'm not sure when is v3 planned and if it would change much of underlaying code.
As for the api, maybe there's a better way to handle

[2019-08-01 18:36] mvanlonden commented on #724
Added @manesioz 🚀

[2019-08-01 19:11] jkimbo commented on #700
Should be fixed in https://github.com/graphql-python/graphene-django/pull/610

[2019-08-01 19:11] #700 closed

[2019-08-02 04:09] dan-klasson commented on #726
Did some digging and setting required to `False` in `convert_serializer_field` solves this problem. Then in your mutation that extends from `SerializerMutation` you can set `partial` to `True`:

[code]
With the added benefit that you get a clear error message `This field is required.` instead of the `Expected "Foo!"` one.

I can create a PR if you want this change.

[2019-08-02 08:02] nrgx opened #727 "Integration with Neo4J Database"
This not an issue. It's more like question. I want my nodes being able serializable to and from GraphQL. I use neomodel as OGM hence graphene-django (DjangoObjectType class) doesn't recognize my nodes as valid Django models. Then I used graphene's ObjectType class and it doesn't raise errors on validity of my nodes, but it asks for `_meta` attribute, I provided it with class NodeMeta, which has on

[2019-08-02 08:10] dan-klasson opened #728 "Using SerializerMutation with Relay"
I'm overriding `mutate_and_get_payload` to convert the global ID to PK:

[code]

Then I also need to tell DRF that the global ID is not an integer:

[code]

Ideally this should already be supported by graphene-django. Perhaps have a `RelaySerializerMutation` and a `RelayModelSerializer`? I can create a PR if you're OK with adding this.

[2019-08-02 11:52] kikeh opened #729 "Change in get_filtering_args_from_filterset on 2.4.0 breaks some filters"
### Context

In the latest release there is a bugfix (#682) that intends to _Ensure correct filter types for DjangoFilterConnectionFields_, which is related to issue #678. The problem is that the change in the function `get_filtering_args_from_filterset()` has two possible issues (one minor and one major):

1. `form_field` not defined (_minor_):
This is a simple one. Following the logic in this ne

[2019-08-02 12:09] jkimbo commented on #729
Thanks for the detailed write up @kikeh ! You're proposal looks great, could you raise a PR with the changes and the necessary regression tests?

I confess that I haven't had much experience with django_filters so it's not surprising that I missed something when implementing that bug fix.

[2019-08-02 12:14] jkimbo commented on #727
Hi @nrgx ,

So this has been raised before (https://github.com/graphql-python/graphene-django/issues/442) and I think the issue is that neomodel doesn't actually subclass `django.db.models.Model` so graphene-django doesn't recognise it. This is not that unexpected since graphene-django is specifically for use with Django models.

It might be that the solution here is create a graphene-neo4j librar

[2019-08-02 12:19] kikeh commented on #729
@jkimbo sure, I am going to create the PR.

And don't worry, this one was a quite _specific_ issue but it was not so hard to spot :)

[2019-08-02 12:19] jkimbo commented on #726
@dan-klasson this is just related to the rest_framework integration correct? I don't have a huge amount of experience with that part of the code but the code snippet you pasted seems like a reasonable change. Can you make a PR for it?

(Also this issue is not related to this: https://github.com/graphql-python/graphene-django/issues/725 is it?)

[2019-08-02 12:25] jkimbo commented on #728
@dan-klasson a PR would be welcome!

[2019-08-02 12:27] nrgx commented on #727
Hello, @jkimbo . Thanks for the reply. Learning the source code gave understanding of incompatibility of 2 packages. So I forked `graphene-django` and making on top of it bindings with neomodel. But, it seems to me, that will take a long time. I've got no question and closing this issue.

[2019-08-02 12:27] #727 closed

[2019-08-02 12:31] jkimbo commented on #274
@eamigo86 are you still happy to maintain graphene-django-extras as a separate library or would you like to see it merged into graphene-django? (it's a fantastic library btw!)

[2019-08-02 12:32] jkimbo commented on #57
@tfoxy

I am not expecting a huge amount of changes needed with v3 since the major breaking change is the dropping of Python 2 and the upgrade of graphql-core. I would suggest that any optimisation improvements could be based off v2.

Since we're going to start building in query optimisations in the library I don't think there is any need to follow the api of `graphene-django-optimizer`. I think i

[2019-08-02 12:33] jkimbo commented on #727
Ok thanks @nrgx . Do feedback if you have any success!

[2019-08-03 04:11] dan-klasson commented on #726
@jkimbo I started looking into this when I noticed my model forms overwriting data that wasn't passed in. I then also noticed the validation problem on updates (i.e no support for partial updates). That's why I decided to switch to model serializers instead. So this PR would only be DRF related.

[2019-08-04 06:33] jkimbo commented on #726
Ok thanks for clarifying @dan-klasson

[2019-08-04 14:06] jkimbo commented on #250
So after spending quite some time on trying to implement this I've come to the conclusion that always applying `.only` is not a good idea because it can actually make performance worse. For example if you have the following object type:

[code]

In this example using `.only` would mean that Graphene would only fetch the `age` property of the model. However when a client requests `name` Django will

[2019-08-04 14:06] #250 closed

[2019-08-04 14:08] jkimbo commented on #57
Just a heads up @tfoxy @mohamedrez that I've had to give up on trying to automatically apply `.only` to all queries: https://github.com/graphql-python/graphene-django/issues/250#issuecomment-518006665

You might find that trying to automatically applying query optimisations has similar issues where they can actually make performance worse in some cases.

[2019-08-04 14:25] jkimbo commented on #698
@abtuleshov I've create a PR that extends `DjangoListField` to behaviour how you would expect in your examples: https://github.com/graphql-python/graphene-django/pull/732

[2019-08-04 14:30] jkimbo commented on #704
@dan-klasson Graphene captures all exceptions thrown inside a query execution and adds them to the `errors attribute on the response. All graphql servers do this so that they can return partial data. Relevant part of the spec: https://graphql.github.io/graphql-spec/June2018/#sec-Errors-and-Non-Nullability

More information on how to handle errors in graphql servers: https://artsy.github.io/blog/20

[2019-08-04 14:30] #704 closed

[2019-08-04 14:33] jkimbo commented on #696
@ckristhoff the `perform_mutate` method calls `form.save()`: https://github.com/graphql-python/graphene-django/blob/e2e496f505bad4d45a1616baa176a53732766bd1/graphene_django/forms/mutation.py#L123-L125

It looks like you're missing that in your example.

[2019-08-04 21:40] #593 closed

[2019-08-05 05:28] Gamsake commented on #678
I have the exact same issue on 2.4.0 the latest.
May i ask that you will apply the fix in v3?
Thanks.

[2019-08-05 07:14] jkimbo commented on #678
@Gamsake this issue should be fixed in v2.4.0. Can you create a reproduction of the issue you are having?

[2019-08-05 20:14] #653 closed

[2019-08-05 21:14] tfoxy commented on #57
I had the same problems with `.only` when working in graphene-django-optimizer. I decided to only apply `.only` when I'm sure that it will not trigger another query. That means that if there's a field on a graphql query that it's unknown, it will cancel the `.only` optimization for that sql query. With `select_related` and `prefetch_related` this does not happen. There was some discussion related

[2019-08-06 02:19] dan-klasson commented on #728
Before creating a PR for this I wanted to make it support m2m fields as well. But I ran into some issues.

This is the code I came up with.

[code]
When passing in the ids as a list. The value of `value` is not deserialized and is not valid JSON. Hence the user of `ast.literal_eval`.
Other than that workaround, it also returns this:

`'memberLevels': '<QuerySet [<MemberLevel: level 2>]>'`

[2019-08-06 05:22] dan-klasson commented on #729
This is completely broken for me (https://github.com/graphql-python/graphene-django/issues/709). Has anyone gotten this to work?

[2019-08-06 08:24] eamigo86 commented on #274
Hello @jkimbo, thank you very much for communicating with me. I am currently updating [graphene-django-extras](https://github.com/eamigo86/graphene-django-extras) library, I just don't have much free time; besides I am also updating another related library [graphene-django-subscriptions](https://github.com/eamigo86/graphene-django-subscriptions) to work with latest Channels versions and then I pla

[2019-08-06 12:32] levrik commented on #67
@jkimbo What about users using Flask? How can we turn this feature off?

[2019-08-06 21:39] karlosss opened #735 "Traceback is printed on exceptions raised from resolve_field methods"
Hi,

I am trying to implement an easy permission system on retrieving fields. So for each field, I implement such a method:

    def resolve_field(self, info, **kwargs):
        if not has_permission():
            raise PermissionError("Access Denied!")
        return self.field

Everything works fine, the user gets a nicely formatted errors filed back to the frontend. But when I look to my serve

[2019-08-07 07:04] #729 closed

[2019-08-07 07:07] jkimbo commented on #67
@levrik you will have to raise that issue with the graphene-flask repo

[2019-08-07 09:15] dan-klasson commented on #735
I have the same problem in my tests. I've put it on the back burner for now. I was thinking maybe better to handle that validation in the serializer instead.

[2019-08-07 11:45] SpyTec opened #737 "Django: ImportError: cannot import name 'ResolveInfo'"
@SpyTec commented on [Wed Aug 07 2019](https://github.com/graphql-python/graphene/issues/1047)

Following the Relay walkthrough I'm getting the following error. Since it's quite cryptic
[code]
`INSTALLED_APPS` here, where `graphql` is an app in my project
[code]

[2019-08-07 11:47] jkimbo commented on #737
@SpyTec can you run `pip freeze` and include the output?

[2019-08-07 11:47] SpyTec commented on #737
I knew I was forgetting something. @jkimbo:
[code]

[2019-08-07 12:00] jkimbo commented on #737
Do you have a `graphql` folder inside your project?

[2019-08-07 12:03] SpyTec commented on #737
Yes, would that cause an issue?

[2019-08-07 12:21] jkimbo commented on #737
Yes because of the way that python resolves modules. Basically python will important local modules before site packages so the import line that’s failing is trying to import `ResolveInfo` from your local `graphql` module rather than the graphql-core package. More info here: https://docs.python.org/3/tutorial/modules.html#the-module-search-path

Unfortunately (if you don’t want to mess around with

[2019-08-07 13:32] SpyTec commented on #737
Thanks for the info, that was the issue. Luckily it was a minor change since the app was newly created :)

Thanks for the very quick response

[2019-08-07 13:32] #737 closed

[2019-08-07 16:14] cmaruan opened #738 "DjangoFilterConnectionField with DataLoader ignoring filter_fields"
I started to follow [this tutorial](https://apirobot.me/posts/django-graphql-solving-n-1-problem-using-dataloaders) about avoiding the N+1 through dataloaders, which works very well.
But all my fields are `DjangoFilterConnectionField` and to benefit from DataLoader, I had to write a costum resolver to batch my queries into one database hit.

By doing that, I lost the possibility to filter by using

[2019-08-08 15:00] #738 closed

[2019-08-08 15:01] cmaruan commented on #738
The problem itself was on how I defined the filters and not on the framework.
Solution was as simple as changing `costcenter` to `costcenter__name`.

[2019-08-09 06:39] #386 closed

[2019-08-09 07:57] Gamsake commented on #678
@jkimbo Yes. I'm using 2.4.0 the latest now and 'id' the field of my model has Int type, but it is converted into Float type. Exactly same issue as above first post. I've done triple checks but i never solve this problem. any clue plz.

[2019-08-09 10:41] Glingling opened #741 "Adding Login Required Failed"
Hi,

I try to protect the acces to GraphQL API, so i implement this from the docs : [http://docs.graphene-python.org/projects/django/en/latest/authorization/#adding-login-required](url)
But when a go on the URL django redirect me to [http://127.0.0.1:8000/accounts/login/?next=/graphql/](url)

Havi I missing somethings ?

Thanks for your answer !

[2019-08-09 10:54] #741 closed

[2019-08-09 19:39] #645 closed

[2019-08-09 20:39] #644 closed

[2019-08-09 20:39] #643 closed

[2019-08-11 18:17] #141 closed

[2019-08-12 02:13] Dawidpol opened #743 "How to add description to fields?"
It is connected to #208, to [this comment](https://github.com/graphql-python/graphene-django/issues/208#issuecomment-326203930)
Let's say I have this model:
[code]
and in schema i have
[code]
I can add a description for CountryNode itself, but how to do it for Country `code` and `name`?

[2019-08-12 07:57] dan-klasson commented on #743
[code]

[2019-08-12 08:06] dan-klasson opened #744 "Better error messages for model_operations"
Currently it throws this error when doing a create mutation which its `model_operations` doesn't have create set in it:

     Invalid update operation. Input parameter "id" required.

[2019-08-14 08:43] frankchen211 opened #745 "get_model_fields won't work in base-child models"
https://github.com/graphql-python/graphene-django/blob/d5e71bc9be5c11cd4261419629f5ea54d6eae42b/graphene_django/utils/utils.py#L65

I have models like this then wont' construct this field:
[code]

If I put `sites = models.ManyToManyField('Site', through=SiteTaskLink)` into all the child classes, then I will get `SiteTaskLink has no field named 'None'` error.

if I change model._meta.local_many_to_

[2019-08-14 15:31] #660 closed

[2019-08-14 17:30] mvanlonden opened #746 "Support django filter in operator to filter by list of ids"
[Workaround](https://stackoverflow.com/questions/54218505/how-to-filter-a-query-by-a-list-of-ids-in-graphql-using-graphene-django)

Native support would be optimal

[2019-08-15 07:22] dan-klasson commented on #735
I'm doing something like this now:

[code]

[2019-08-15 19:13] a-c-sreedhar-reddy opened #747 "Type <class 'fieldrecords.schema.Mutation'> is not a valid ObjectType."
This is my piece of code.

[code]

[2019-08-15 22:37] a-c-sreedhar-reddy commented on #747
Documentation error.

[2019-08-15 22:37] #747 closed

[2019-08-16 07:39] tlinhart commented on #735
Exceptions raised in your resolvers get caught and wrapped in `GraphQLLocatedError`, look in the [code](https://github.com/graphql-python/graphql-core/blob/4e739957aa80f46b12acaf74b9b3e88f5942139f/graphql/execution/executor.py#L461). If you look at the [`report_error`](https://github.com/graphql-python/graphql-core/blob/4e739957aa80f46b12acaf74b9b3e88f5942139f/graphql/execution/utils.py#L150) meth

[2019-08-16 09:43] lassesteffen opened #750 "Bug: Supposedly wrong types in query with filter_fields since 2.4.0"
### Problem
When using filter_fields I get an error about using wrong types which started appearing in 2.4.0.
`Variable "startedAtNull" of type "Boolean" used in position expecting type "DateTime".` The error does not occur with graphene-django 2.3.2

### Context
- using django-filter 2.2.0
- django 2.4.0
###
**Schema.py**
[code]

**Query:**
[code]

**Result:**
`Variable "startedAtNull" of type "B

[2019-08-16 13:32] jkimbo commented on #750
@lassesteffen does the same issue happen with v2.5.0? It contained a bugfix that looks related: https://github.com/graphql-python/graphene-django/pull/730

[2019-08-16 16:20] rangermeier commented on #750
I encounter the same issue after upgrading from 2.3.2 to 2.4.0 or 2.5.0.  The expected type for an `isnull` filter changed from boolean to ID.

Schema:
[code]

Query:
[code]

Result:
[code]

[2019-08-17 11:50] #599 closed

[2019-08-17 11:50] #584 closed

[2019-08-17 14:50] #389 closed

[2019-08-18 02:58] TinchyChing opened #751 "How do I make the pagination like using django rest framework?"
I didn't see any docs about pagination, will that be coming in future?

[2019-08-18 03:50] #671 closed

[2019-08-18 09:39] #423 closed

[2019-08-18 15:23] amiyatulu opened #752 "DjangoObjectType representing same models, foreign key takes the last defined node"
While querying comment using CommentNode, the foreign key article takes ArticleNode2 instead of ArticleNode1, how to explicitly say which DjangoObjectType of the same model to take?

[code]

Models:

[code]

[2019-08-18 18:41] jkimbo commented on #752
@amiyatulu you can override the fields in the `DjangoObject` type to link directly to the right type:

[code]

[2019-08-18 18:43] jkimbo commented on #679
@dopeboy are you still able to work on this?

[2019-08-18 18:47] jkimbo commented on #750
Hmm ok this looks like a bug, sorry about that. I'll take a look as soon as possible.

[2019-08-18 19:06] jkimbo commented on #750
@lassesteffen I've create a PR that should fix this issue: https://github.com/graphql-python/graphene-django/pull/753

[2019-08-19 07:09] dan-klasson commented on #751
There's already support for that. See: https://docs.graphene-python.org/projects/django/en/latest/queries/#relay

[2019-08-19 15:24] kikeh opened #754 "Is there a way to return a ChildClass object on a BaseClass Node?"
### Context

I am try to implement a generic `UploadAttachment` mutation that can accept different types of attachments (such as audio or photo), but I do want to keep the type of attachments as separate models with a base class:

[code]

[code]

[code]

### Question

When I use this, everything works fine, except that I get a `GraphQLError`:
`Expected value of type "AttachmentNode" but got: Audio

[2019-08-20 06:53] a13xg0 commented on #288
@dsun-ge
With the same issue, I figured out that I forgot to add
`'corsheaders.middleware.CorsMiddleware',`
in the middleware section:
[code]

[2019-08-20 08:58] karlosss commented on #735
@tlinhart I am not sure if I don't accidentally silence something I don't want to, but it is definitely a good workaround. This one line of code

[code]

does it. Thanks a lot!

[2019-08-20 17:02] kikeh commented on #754
I was able to do this return an _ObjectType_ instead:

[code]

[2019-08-20 17:02] #754 closed

[2019-08-23 00:47] surgiie commented on #719
@jkimbo Just giving you another try on my comment above.

[2019-08-23 06:36] #752 closed

[2019-08-23 06:40] amiyatulu opened #756 "How to use throttling in django-graphene?"
The answer says to use django-throttle-requests

[Issue 676](https://github.com/graphql-python/graphene-django/issues/676)

But how to use it, it gives the following error:

This the error with django-throttle-requests
`'ResolveInfo' object has no attribute 'META'`

for the code:

[code]

[2019-08-23 13:53] soumita018 commented on #725
Should I use this BaseModelForm insted of ModelForm?

[2019-08-23 14:04] dan-klasson commented on #725
Yes unless you want your data to be overwritten. I would recommend you use serializers instead though.

This is a really critical bug, unless I'm not totally mistaken.

[2019-08-23 14:10] dan-klasson commented on #709
@jkimbo Shouldn't this be labeled as a bug?

[2019-08-23 16:26] mfdeux commented on #185
@zbyte64  Isn't it just if the field is named "type"? I have the same issue.

[2019-08-24 22:11] jckw commented on #723
Sorry I've taken so long to get back on this.

I think this came as a result of using both a ManyToMany field and a ForeignKey field to the same model. I'll try and put a PR with a failing test together tomorrow.

Just to clarify what I mean, I reckon something like this caused the bug:

[code]

(This was definitely a weird way to model the relationships 🙃)

[2019-08-25 02:40] liupengf12 commented on #743
you can define a field with same name in your DjangoObjectType if you do not want update the model 😄

[code]

[2019-08-25 02:58] liupengf12 commented on #751
@TinchyChing if you don't like relay try the [graphene-django-extras](https://github.com/eamigo86/graphene-django-extras)

More details please check issue #274

[2019-08-25 15:22] edmorley commented on #357
Not stale

[2019-08-26 07:55] barseghyanartur commented on #286
You're welcome to  try https://github.com/barseghyanartur/graphene-elastic

As of today (August 26, 2019) it's still alpha, but going to be beta soon.

[2019-08-27 06:22] valberg opened #757 "DjangoFormMutation and DjangoModelFormMutation returning empty lists is not according to spec"
Hi,

According to the GraphQL spec (https://graphql.github.io/graphql-spec/June2018/#sec-Errors):

But when using `DjangoFormMutation` and `DjangoModelFormMutation` errors are set to `[]`.

[code]

From https://github.com/graphql-python/graphene-django/blob/master/graphene_django/forms/mutation.py#L122-L125

I know I can 'just override' `perform_mutate` and set `errors=None`, but shouldn't graphen